.ico-info {
  width: 400px;
}

.ico-info__title {
  margin-top: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.ico-info__partners {
  margin-top: 10px;
  width: 230px;
}

.ico-info__ratings {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.ico-info__href-rating-icon {
  display: block;
}

.ico-info__rating-icon {
  width: 71px;
  height: 55px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ico_rating {
  display: none;
}

.ico-info__partner {
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.ico-info__partner_bancor {
  margin-right: 18px;
  width: 102px;
  height: 26px;
}

.ico-info__partner_hotbit {
  width: 103px;
  height: 28px;
  display: none;
}

.ico-info__partner_local-coin {
  margin-top: 12px;
  margin-right: 12px;
  width: 138px;
  height: 30px;
}

.ico-info__partner_hbtop {
  margin-top: 14px;
  width: 75px;
  height: 28px;
  display: none;
}

.ico-info__ratings {
  margin-top: 22px;
}

.ico-info__rating_stable {
  margin-right: 10px;
}

.ico-info__row {
  display: flex;
  align-items: center;
}

.ico-info__accept {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}

.ico-info__href_btcbit {
  cursor: pointer;
  display: block;
}

.ico-info__btcbit_logg {
  width: 63px;
  height: 18px;
  margin-top: 20px;
  margin-bottom: 7px;
  margin-left: 84px;
}

.ico-info__currency_icons {
  width: 240px;
  height: 44px;
  margin-bottom: 30px;
}

.ico-info__amount {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  font-weight: 100;
}

.ico-info__amount span {
  font-weight: 500;
}

.ico-info__progressBar {
  width: 400px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
}

.ico-info__progress {
  width: 30%;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
