@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Bold.woff2') format('woff2'),
        url('./fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Heavy.woff2') format('woff2'),
        url('./fonts/Geometria-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-ExtraLightItalic.woff2') format('woff2'),
        url('./fonts/Geometria-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Light.woff2') format('woff2'),
        url('./fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-Medium.woff2') format('woff2'),
        url('./fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria.woff2') format('woff2'),
        url('./fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-ExtraBold.woff2') format('woff2'),
        url('./fonts/Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-ExtraLight.woff2') format('woff2'),
        url('./fonts/Geometria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/Geometria-MediumItalic.woff2') format('woff2'),
        url('./fonts/Geometria-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

*
{
  font-family: 'Geometria';
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
.contentText {
  position: relative;
}

.size {
  width:  100%;
  margin: 0 auto;
  max-width: 1440px;
}

/* .container {
  width: 100%;
  margin: 0 auto;
} */

.container2 {
  /* width: 100%; */
  margin: 0 auto;
}

.ourPartners .container3 {
  display: none;
}

.clear
{
    clear: both;
}

/**/
.header_blocks {
  font-family: Geometria !important;
  font-size: 32px !important;
  font-weight: bold !important;
  color: #ffffff !important;
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 40px !important;
  padding-top: 80px !important;
  display: inline-block !important;
}

.block_1 .header_blocks {
  width: 65%;
}


/**/
.menu_block.fixed {
  background: rgba(50,26,79,.2);
  padding: 20px 0;
  z-index: 999;
}

.menu_block.fixed .header{
  padding-top: 0px;
}

.menu_block.fixed .header ul.menu{
  display: block;
  float: right;
  list-style: none;
  height: 45px;
  line-height: 45px;
}

.menu_block.fixed .header .left_lead .slog{
    display: none;
}

.menu_block.fixed .header ul.menu li a:before{
  content: '';
  bottom: 0px;
}
/**/

.menu_block .header
{
    padding-top: 85px;
    display: block;
    width: 1024px;
    margin:  0 auto;
}

.menu_block .header .left_lead
{
    display: block;
    float: left;
}

.menu_block .header .left_lead a.logo
{
    display: block;
    float:  left;
    margin-right: 45px;
}

.menu_block .header .left_lead .slog
{
    display: block;
    float:  right;
    max-width: 170px;
    font-size: 16px;
    padding-left: 45px;
    position: relative;
}

.menu_block .header .left_lead .slog:before
{
    display: block;
    content: '';
    width: 1px;
    height: 155px;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -15px;
    opacity: 0.5;
}

.menu_block .header .left_lead .slog span
{
    font-size: 14px;
    display: block;
    opacity: 0.5;
}

.menu_block .header ul.menu
{
    display: block;
    float: right;
    list-style: none;
}

.menu_block .header ul.menu li
{
    display: block;
    float: left;
}

.menu_block .header ul.menu li a
{
    display: block;
    float: left;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

.menu_block .header ul.menu li a:before
{
    content: '';
    display: block;
    position: absolute;
    bottom: -27px;
    width: 0;
    height: 6px;
    background: #6C5ED6;
    transition: width 0.5s;
}


.menu_block .header ul.menu li a:hover:before
{
    width: 100%;
}


.header {
  padding-left: 42px;
}

[map_arr="3"] .item img {
  width: 140px!important;
  height: auto!important;
}

[map_arr="2"] .item img {
  width: 140px!important;
  height: auto!important;
}

[map_arr="2"]  .mid_img_advisers {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    position: relative;
}

[map_arr="3"]  .mid_img_advisers {
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow:  hidden;
    background-size: cover;
    background-position: center;
}

/**/
popup[video] {

position: fixed;

width: 100%;

height: 100%;

top: 0;

left: 0;

z-index: 9999;
display: none;
}

popup[video] .rgba {

position: fixed;

width: 100%;

height: 100%;

top: 0;

left: 0;

background: rgba(0,0,0,.7);
}

popup[video] .th_video {
  /* position: absolute; */
  display:  table;
  margin: 50px auto;
}

popup[video] .th_video .close {
position: relative;
    margin: 20px 0;
    background: #717070;
    display: table;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    left: 100%;
    margin-left: -100px;
}

popup[video] .th_video .th_iframe {

display:  table;

position:  relative;
}

popup[video] .th_video .th_iframe iframe {

height: 500px;

width: 720px;
}

/**/
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none!important;
}



.block_7 .mid_img_advisers {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 30px 30px 0 0;
    background-position: 0 -10px;
}

[link] {
    color: inherit;
}

.footer-block {
  width: 680px;
  margin-top: 50px;
  padding-bottom: 120px;
}

.footer-block-left {
  float: left;
}

.footer-block-right {
  float: right;
}

.footer-block-left .name {
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-block-right .name{
  font-size: 25px;
  margin-bottom: 20px;
}

.inquiries-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback-info {
  float: left;
}

.parentAdvisersItem {
    position: relative;
    padding-top: 30px;
}

.play-button-advisers{
    bottom: -12px;
    right: -15px;
    position: absolute;
    background-image: url(./images/play_button.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    z-index: 9;
    cursor: pointer;
    border: 6px solid #7B5590;
    border-radius: 50%;
}

.block_6 .slick-slider,
.block_7 .slick-slider,
.block_8 .slick-slider {
  position: static;
}

.block_arrow_relative {
  position: relative;
}

.block_6 .slick-next,
.block_6 .slick-prev,
.block_7 .slick-next,
.block_7 .slick-prev,
.block_8 .slick-next,
.block_8 .slick-prev {
  float: none;
  height: 92px;
  width: 50px;
}

.block_6 .slick-next,
.block_7 .slick-next,
.block_8 .slick-next {
  margin-left: 0px;
  right: 40px;
}

.block_6 .slick-prev,
.block_7 .slick-prev,
.block_8 .slick-prev {
  margin-left: 0px;
  left: 40px;
}

.block_6 .slick-prev:before,
.block_7 .slick-prev:before,
.block_8 .slick-prev:before {
  font-size: 0px;
  display: block;
  position: relative;
  padding: 0;
  background: url(./images/arrow_big_left.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.block_6 .slick-next:before,
.block_7 .slick-next:before,
.block_8 .slick-next:before {
  font-size: 0px;
  display: block;
  position: relative;
  padding: 0;
  background: url(./images/arrow_big_right.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 1439px) {

  .block_7 .slick-next,
  .block_7 .slick-prev,
  .block_8 .slick-next,
  .block_8 .slick-prev {
    left: 100%;
    right: 0;
    top: 0;
    height: 38px;
    width: 20px;
    margin-top: -98px;
  }

  .block_7 .slick-next,
  .block_8 .slick-next {
    margin-left: -100px;
  }

  .block_7 .slick-prev,
  .block_8 .slick-prev {
    margin-left: -150px;
  }

  .block_7 .slick-next,
  .block_7 .slick-prev,
  .block_8 .slick-next,
  .block_8 .slick-prev {
    margin-top: -95px;
  }

  .block_8 .settings2_1 .slick-next,
  .block_8 .settings2_1 .slick-prev {
    margin-top: -27px;
  }

    .header {
      padding: 0;
    }
    .block_1{
      padding-top: 20px;
      padding-bottom: 50px;
    }

    .size {
      width: 100%;
    }

    /* .container {
      width: 100%;
    } */

    /* .container2 {
      width: 940px;
    } */

    .menu_block .header {
      padding-top: 45px;
    }

    .menu_block .header .left_lead a.logo {
      float: none;
      padding: 0;
      margin: -10px 15px;
    }

    .menu_block .header .left_lead .slog {
      display: none;
    }

    .menu_block .header ul.menu {
      float: none;
    }

    .menu_block.fixed .header ul.menu {
      float: none;
    }

    .menu_block.fixed .header .left_lead a.logo {
      margin: 0px 15px;
    }

    .first_block_1 {
      padding-top: 135px;
    }

    .progressBarSale .container {
      width: 780px;
    }

    .progressBarSale .progressBar {
      width: 780px;
    }

    .progressBarSale .progressBar .progress {
      width: 182px;
    }

    .progressBarSale .container .sale-bonusses {
      padding-right: 300px;
    }

    .block_1 h1
    {
      font-size: 32px;
      width: 480px;
      margin-left: 45px;
      line-height : 40px;
    }

    .block_1 .cont_row {
      margin: 30px;
    }

    .block_1 .cont_row .row {
        display: block;
        width: 27%;
    }.block_1 .cont_row .row {
        display: block;
        width: 27%;
    }

    .block_3 .statick {
      margin-top: 70px;
    }

    .block_3 .ico_block
    {
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .block_3 .ico_block .row
    {
        margin-left: 0;
        margin-right: 20px;
    }

    .block_3 .owl-carousel {
      display: flex;
      justify-content: space-between;
    }

    .block_3 .owl-carousel .item {
      padding: 20px;
      width: 32%;
    }

    .block_3 .owl-carousel .item h3 {
      margin: 0;
      margin-bottom: 40px;
    }

    .block_3 .owl-carousel .item a.size
    {
      display: none;
    }

    .block_3 .other_text .cont_1,
    .block_3 .other_text .cont_2,
    .block_3 .other_text .cont_3
    {
      font-size: 16px;
      width: 32%;
    }

     img.man
    {
        max-width: 100%;
        width: auto;
        position: absolute;
        bottom: 10px;
        margin-right: -330px;
        float: none;
        right: 50%;
        z-index: 2;
    }

     .cont_3 {
      width: 190px;
      padding-right: 0px;
      margin-right: 0px;
    }

    .block_3 .other_text .cont_3 img {
      margin-left: 0px;
    }

    .block_3 .other_geo .cont_row {
      justify-content: space-between;
    }

    .block_3 .other_geo .cont_row .row {
      width: 300px;
      float: none;
      display: block;
      margin: 20px;
      margin-left: 0;
      padding-right: 10px;
      padding-left: 0;
      font-weight: 300;
      margin-right: 60px;
    }

    .block_3:after
    {
        background-size: cover;
        width: 686px;
        height: 390px;
        margin-left: -340px;
    }



    .block_5 h2 {
      font-size: 32px;
      margin-left: 45px;
      margin-bottom: 75px;
    }

    .block_5 .settings .container {
      width: 970px;
      margin-left: auto;
      margin-right: auto;
    }

    .block_7 h2 {
      font-size: 32px;
    }

    .block_7 .settings .txt .bg {
      width: 260px;
    }

    .block_7 .settings .slick-slider {
      width: 850px;
    }

    .block_7 .txtNews {
      width: 300px;
    }

    .block_7 .img {
      width: 300px;
    }

    .block_7 .slick-slider {
      width: 967px;
    }

    .block_8 .settings {
      display: flex;
    }

    .block_8 .slick-list {
      width: 940px;
    }

    .block_8 .team .slick-slider {
      margin: 0 auto;
    }

    .block_8 .advisers .right_content {
      width: 640px;
    }

    .block_8 .advisers .left_content .text_content {
      width: 250px;
    }

    .block_8 .advisers .left_content {
      width: 300px;
    }

    .block_8 .advisers .slick-list {
      width: 940px;
    }

    .block_8 .advisers .slick-slider {
      width: 940px;
      margin: 0 auto;
    }

    .block_9 .container2 {
      margin: 70px 45px 0;
    }

  }

    .block_6 .owl-carousel .owl-nav .owl-next,
    .block_7 .owl-carousel .owl-nav .owl-next,
    .block_8 .owl-carousel .owl-nav .owl-next
    {
        display: block;
        position: absolute;
        padding: 0;
        background: url(./images/arrow_small_right.png);
        top: 0;
        left: auto;
        right: 60px;
        width: 17px;
        height: 31px;
        margin-top: 0;
    }

    .block_6 .owl-carousel .owl-nav .owl-prev,
    .block_7 .owl-carousel .owl-nav .owl-prev,
    .block_8 .owl-carousel .owl-nav .owl-prev
    {
        display: block;
        position: absolute;
        padding: 0;
        background: url(./images/arrow_small_left.png);
         top: 0;
        left: auto;
        right: 120px;
        width: 17px;
        height: 31px;
        margin-top: 0;
    }

    .block_7 .owl-carousel .owl-nav .owl-next,
    .block_7 .owl-carousel .owl-nav .owl-prev,
    .block_8 .owl-carousel .owl-nav .owl-next,
    .block_8 .owl-carousel .owl-nav .owl-prev
    {
        top: -110px;
    }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s, visibility 0s linear .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s, visibility 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  text-align: center;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -.25em;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide--image {
  overflow: visible;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px 6px 0 6px; }

.fancybox-slide--iframe {
  padding: 44px 44px 0; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 6px 0;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  margin: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-can-drag .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-dragging .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--html .fancybox-content {
  margin-bottom: 6px; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
  height: calc(100% - 44px);
  margin-bottom: 44px; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  vertical-align: top; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: color .2s;
  vertical-align: top;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff; }

.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default; }

.fancybox-button svg {
  display: block;
  overflow: visible;
  position: relative;
  shape-rendering: geometricPrecision; }

.fancybox-button svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.fancybox-button--play svg path:nth-child(2) {
  display: none; }

.fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.fancybox-button--play svg path,
.fancybox-button--share svg path,
.fancybox-button--thumbs svg path {
  fill: currentColor; }

.fancybox-button--share svg path {
  stroke-width: 1; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  height: 38px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  top: 50%;
  width: 38px; }

.fancybox-show-nav .fancybox-navigation .fancybox-button {
  transition: opacity .25s, visibility 0s, color .25s; }

.fancybox-navigation .fancybox-button::after {
  content: '';
  left: -25px;
  padding: 50px;
  position: absolute;
  top: -25px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 6px; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #555;
  cursor: pointer;
  height: 44px;
  margin: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  z-index: 10; }

.fancybox-close-small svg {
  fill: transparent;
  opacity: .8;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: stroke .1s; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:hover svg {
  opacity: 1; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  color: #ccc;
  padding: 5px;
  right: -12px;
  top: -44px; }

.fancybox-slide--image .fancybox-close-small:hover svg,
.fancybox-slide--video .fancybox-close-small:hover svg,
.fancybox-slide--iframe .fancybox-close-small:hover svg {
  background: transparent;
  color: #fff; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0; }

.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1; }

.fancybox-caption::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  border: 6px solid rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  border-top-color: #fff;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: .6;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #fff;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs > ul {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x > ul {
  overflow: hidden; }

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs > ul > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.fancybox-thumbs > ul > li:before {
  border: 4px solid #4ea7f9;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs .fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px);
  }
}

  /**
   * Owl Carousel v2.2.1
   * Copyright 2013-2017 David Deutsch
   * Licensed under  ()
   */
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}

@media (max-width: 1023px) {

  .block_6 .slick-next,
  .block_6 .slick-prev {
    left: 100%;
    right: 0;
    top: 0;
    height: 38px;
    width: 24px;
    margin-top: -98px;
  }

  .block_6 .slick-next {
    margin-left: -100px;
  }

  .block_6 .slick-prev {
    margin-left: -150px;
  }

  .block_6 .slick-next,
  .block_6 .slick-prev {
    margin-top: -120px;
  }

    .size {
      width: 100%;
    }
    .container2 {
      width: 620px;
    }
    .menu .menu-item {
      display: none;
    }
    .menu .menu-768px {
      display: flex;
    }
    .progressBarSale .container {
      width: 480px;
    }

    .progressBarSale .progressBar {
      width: 480px;
    }

    .progressBarSale .progressBar .progress {
      width: 112px;
    }

    .progressBarSale .container .sale-bonusses {
      padding-right: 150px;
    }
    .block_1 {
      padding-bottom: 50px;
    }
    .block_1 h1 {
      margin-left: 75px;
    }
    .block_1 h2 {
      font-size: 32px;
    }
    .block_1 .cont_row {
      margin-top: 40px;
      justify-content: center;
    }
    .block_1 a.sb {
      display: none;
    }
    .block_1 .cont_row .row {
      width: 560px;
      margin-bottom: 50px;
    }
    .block_3 {
      padding: 50px;
    }
    .block_3 .statick {
      display: none;
    }
    .block_3 .carusel {
      display: block;
      margin: 0 auto;
      width: 620px;
    }
    .block_3 .owl-carousel {
      display: block;
      margin-top: 50px;
    }
    .block_3 .owl-carousel .item {
      margin: 0px;
    }
    .block_3 .carusel .owl-carousel .item img {
      width: 395px;
      height: auto;
      margin: 0 auto;
    }
    .block_3 .carusel .carusel_txt {
      margin: 0 auto;
      margin-top: 50px;
      width: 500px;
    }
    .block_3 .carusel .cont_1,
    .block_3 .carusel .cont_2,
    .block_3 .carusel .cont_3 {
      font-size: 16px;
      width: 500px;
      font-weight: normal;
    }
    .block_3 .carusel .cont_3 {
      margin-top: 50px;
    }
    .block_3 .carusel .cont_3 .row {
      margin-bottom: 15px;
      cursor: pointer;
    }
    .block_3 .carusel .cont_3 .row img {
      margin-right: 10px;
    }
    .block_3 .carusel .other_geo h2 {
      border-top: 1px solid white;
      padding-top: 50px;
      margin-top: 50px;
    }
    .block_3 .carusel .other_geo .text {
      margin: 0 auto;
    }
    .block_3 .carusel .other_geo .row {
      text-align: center;
      margin: 50px 0;
    }
    .block_5 h2 {
      font-size: 32px;
      margin-left: 75px;
      margin-top: 60px;
    }
    .block_5 .settings {
      display: none;
    }
    .block_5 .settings2 {
      display: block;
      margin: 0 75px;
      width: 620px;
      margin: 0 auto;
    }
    .block_5 .settings2 .cont_item {
      height: 310px;
    }

    .block_7 h2{
      font-size: 32px;
      margin-left: 75px;
    }
    .block_7 .settings2 {
      display: block
    }
    .block_7 .slick-slider {
      width: 630px;
    }
    .block_7 .settingsNews2 {
      display: block;
    }
    .block_7 .settings {
      display: none;
    }
    .block_7 .settingsNews {
      display: none;
    }
    .block_8 .settings {
      display: none;
    }
    .block_8 .settings2 {
      display: inline-block;
      display: flex;
      justify-content: center;
    }
    .block_8 .slick-list {
      width: 620px;
    }
    .block_8 .advisers .slick-slider {
      width: 620px;
      margin: 0 auto;
    }
    .block_8 .advisers .slick-list {
      width: 620px;
    }
    .block_8 .advisers .right_content {
      width: 320px;
    }
    .block_8 .advisers .right_content p {
      margin: 0;
    }
    .block_8 .ourPartners .slick-list {
      width: 620px;
      height: 95px;
    }
    .block_8 .ourPartners .img {
      height: 95px;
    }

    .block_8 .ourPartners .ico-promo {
      height: 33px!important;
    }
  }

@media screen and (max-width: 767px) {
  .App {
    width: 100%;
    overflow: hidden;
  }

  .header_blocks {
    padding: 0 !important;
    width: 80% !important;
    margin: 0 auto !important;
    display: table !important;
  }
}

@media (max-width: 680px) {
  .teamLegal .container {
    margin: 0 0 0 10%;
    padding: 40px 0 200px 0;
  }

  .problemBlock .btn {
    margin-bottom: 20px;
  }

  .cryptoAssetsManagement .problemBlock .video_block .mockup1 {
    width: 220px;
    height: 129px;
    margin: 0 auto;
  }

  .cryptoAssetsManagement .problemBlock .video_block .mockup2 {
    width: 220px;
    height: 129px;
    margin: 0 auto;
  }

  .cryptoAssetsManagement .problemBlock .video_block .mockup3 {
    width: 230px;
    height: 220px;
    margin: 0 auto;
  }

  .menu .btn {
    display: none;
  }

  .menu .joinpresale {
    display: block;
  }

  .block_5 .size:after {
    top: 355px;
  }

  .teamLegal .container .row {
    display: inherit;
  }

  .teamLegal .left .dock_block {
    display: inherit;
  }

  .size {
    padding-top: 40px;
  }

  .roadmap__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0!important;
    width: 100%;
  }

  .roadmap__line {
    width: 100%;
  }

  .roadmap__buttons .roadmap__button {
    width: 90%;
    padding: 10px 0;
  }

  .roadmap__map {
    margin: 30px 0 -30px 0;
    width: 100%;
    overflow-x: scroll;
    padding-left: 5%;
    padding-bottom: 30px;
  }

  .teamLegal .container .row .LC {
    width: 70%;
  }

  /* .roadmap__map::-webkit-scrollbar {
    display: none;
  } */

  .wrapper__roadmap__map {
    height: 130px;
    overflow-y: hidden;
  }

  .roadmap__map .roadmap__years,
  .roadmap__map .roadmap__quartals,
  .roadmap__map .roadmap__circles {
    width: 550px;
  }

  .roadmap__image {
    width: 80%;
  }

  .roadmap__text {
    width: 87%!important;
  }

  .teamLegal .right .play {
    margin-top: 0;
  }

  .teamLegal .right:nth-of-type(1) {
    width: 90%;
    min-width: 90%;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block_1 .cont_row .row {
    width: 80%;
  }

  .block_1 {
    padding-bottom: 1px!important;
  }

  .block_1 .cont_row {
    margin: 0;
  }

  .block_1 .container,
  .block_2 .container,
  .block_4 .container {
    margin: 0;
    margin-top: 20px;
  }

  .block_2 .cont_row .row {
    width: 100%;
  }

  .block_2 .cont_row .row img {
    margin: 30px auto;
  }

  .block_2 .cont_row .row h3 {
    margin: 0;
  }

  .block_3 {
    padding: 0!important;
  }

  .block_3 .carusel {
    width: 90%!important;
  }

  .block_3 .owl-carousel .item {
    height: 100%!important;
  }

  .block_3 .carusel .carusel_txt {
    width: 100%!important;
  }

  .block_3 .carusel .cont_1,
  .block_3 .carusel .cont_2,
  .block_3 .carusel .cont_3 {
    width: 100%!important;
  }

  .other_geo {
    padding-bottom: 20px;
  }

  .block_3 .carusel .other_geo .row {
    font-size: 22px;
  }

  .block_4 .cont_3 {
    padding: 0 5%;
  }

  .block_4 .cont_3 .row {
    display: flex;
    align-items: center;
    margin: 5% 0;
  }

  .block_4 .cont_3 .row p {
    width: 40%;
    line-height: 1.5;
    margin: 0;
  }

  .block_4 .cont_1 {
    margin: 0 5%;
  }

  .progress-bar {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 5%;
    width: auto;
  }

  .block_4 .cont_5 {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    margin-top: 40px;
  }

  .block_4 .cont_4 {
    margin: 0 5%;
    width: auto;
  }

  .block_4 .cont_4 {
    margin: 0 5%;
    width: auto;
  }

  .block_4 .cont_4 .graph {
    position: relative;
    display: flex;
    margin-bottom: 220px;
  }

  .block_4 .cont_4 .graph ul {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .block_4 .cont_2 {
    margin: 0 5%;
    width: auto;
  }

  .block_5 .container {
    margin: 0;
    margin-top: 50px;
  }

  .block_5 .slick-next, .block_5 .slick-prev {
    display: none!important;
  }

  .block_5 .settings2 {
    display: none;
  }

  .settings3 {
    display: block!important;
  }

  .block_6 .slick-next, .block_6 .slick-prev {
    display: none!important;
  }

  .block_6 .carusel-block .slick-list {
    margin: 0 5%;
  }

  .block_6 .left .name .feed-back-div {
    position: absolute;
    left: 0;
    bottom: -85px;
  }

  .block_6 .name {
    position: relative;
    margin-top: 20px;
  }

  .block_6 .carusel-block {
    width: auto;
    height: auto;
    margin: 0 0 0 0;
    margin-top: 30px;
  }

  .block_6 .left p {
    width: 100%;
    padding-top: 110px;
  }

  .block_6 {
    padding-bottom: 40px;
  }

  .block_7 .settings2 {
    display: none;
  }

  .block_7 h2 {
    margin-top: 40px!important;
  }

  .ourPartners .container3 {
    display: block;
  }

  .block_7 .settingsNews2 {
    display: none;
  }

  .block_7 .settings3 {
    display: block;
  }

  .block_7 .settingsNews3 {
    display: block;
  }

  .block_7 .slick-slider {
    width: 100%;
  }

  .block_7 .slick-next, .block_8 .slick-next {
    margin-left: -80px;
  }

  .block_7 .slick-prev, .block_8 .slick-prev {
    margin-left: -140px;
  }

  .block_8 {
    padding-bottom: 20px;
  }

  .block_8 .block_arrow_relative {
    margin-bottom: 50px;
  }

  .block_8 .advisers .slick-slider {
    width: 100%;
  }

  .block_8 .advisers .slick-list {
    width: 100%;
  }

  .block_8 .advisers .left_content {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
  }

  .block_8 .advisers .slick-list {
    border-radius: 0;
  }

  .block_8 .advisers .right_content {
    display: none;
  }

  .block_8 .settings2 {
    display: none;
  }

  .block_8 .settings3 {
    display: block;
  }

  .block_8 .slick-list {
    width: 100%;
  }

  .block_8 .ourPartners .slick-list {
    width: 90%;
    margin-bottom: 50px;
  }

  .block_8 .advisers .settings2_1 {
    padding: 50px 0;
  }

  .ourPartners .container2 {
    display: none;
  }

  .block8 .container3 {
    width: 100%;
  }

  .block_8 .slick-next {
    margin-left: -50px;
  }

  .block_8 .slick-prev {
    margin-left: -110px;
  }

  .block_8 .settings2_1 .slick-next, .block_8 .settings2_1 .slick-prev {
    margin-top: -22px;
  }

  .block_9 {
    display: block!important;
  }

  .block_9 .adress {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px 0 0 0;
  }

  .block_9 a.sb_2 {
    margin-left: 0;
    margin-top: 20px;
  }

  .block_9 .container2 {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 70px 5%;
    width: 100%;
  }
}
