<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>Cindx #03</title>
</head>
<body>
  <div class="app flex">
    <div class="container flex">

      <!-- Top side begin -->
      <div class="top-side flex">
        <h1>Key docs access</h1>
        <div class="aircraft"></div>
      </div>
      <!-- Top side end -->
      
      <!-- Bottom side begin -->
      <div class="bottom-side flex">
        <button>Buy tokens</button>
        <nav class="flex">
          <a href="#">One Page&#8195;|</a>
          <a href="#">&#8195;Presentation&#8195;|</a>
          <a href="#">&#8195;White paper&#8195;|</a>
          <a href="#">&#8195;Financial Model</a>
        </nav>
      </div>
      <!-- Bottom side end -->
    </div>
  </div>
</body>
</html>