
[root-class=KeyDocs] .app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%
}

[root-class=KeyDocs].KeyDocs {
  margin-top: 9vh;
}

[root-class=KeyDocs] .container {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[root-class=KeyDocs] .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*** Top side ***/
[root-class=KeyDocs] .top-side {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

[root-class=KeyDocs] .top-side h1 {
  font: 70px Geometria-Bold;
  max-width: 500px;
  margin: 0;
  color: white;
}

[root-class=KeyDocs] .top-side .aircraft {
  width: 580px;
    height: 130px;
  background: url(../assets/export_mountain_v2/Samolet.svg);
  background-repeat: no-repeat;
}

/*** Bottom side ***/
[root-class=KeyDocs] .bottom-side {
  align-items: center;
  margin-top: 120px;
}

[root-class=KeyDocs] .bottom-side button {
  border: 1px solid white;
  background: none;
  outline: none;
  border-radius: 33px;
  padding: 24px 59.5px;
  color: white;
  text-transform: uppercase;
  font: 11.2px Geometria-Bold;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

[root-class=KeyDocs] .bottom-side button:hover,
[root-class=KeyDocs] .bottom-side button.active {
  background: -webkit-gradient(linear, left top, right top, from(#6C5ED6), to(#F287B7));
  background: -webkit-linear-gradient(left, #6C5ED6, #F287B7);
  background: -o-linear-gradient(left, #6C5ED6, #F287B7);
  background: linear-gradient(90deg, #6C5ED6, #F287B7);
  border-color: transparent;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
          box-shadow: 0 0 40px rgba(0,0,0,.3);
}

[root-class=KeyDocs] .nav {
  margin-left: 200px;
}

[root-class=KeyDocs] .nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font: 17px Geometria-Bold;
}