.startTimer {
  background: #bc77e4;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  color: white;
}

.startTimer .content {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.startTimer .content .titleText {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  flex-wrap: wrap;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.startTimer .content .titleText .firstText {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.startTimer .content .titleText .timerText {
  display: flex;
  justify-content: center;
}

.startTimer .content .titleText .buyButton {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background: white;
  font-size: 13px;
  padding: 0 20px;
  border-radius: 100px;
  align-self: center;
  margin-top: 5px;
}

.startTimer .content .titleText .buyButton > span {
  display: inline-flex;
}

.startTimer .content .titleText .buyButton .logoIcon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

