.media-block {
  width: 319px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 30px;

  &__picture {
    width: 100%;
    height: 133px;
  }

  &__info {
    padding: 25px 36px 40px 40px;
  }

  &__title {
    font-family: Geometria-Bold;
    font-size: 22px;
    color: #6C5ED6;
  }

  &__description {
    margin-top: 25px;
    font-family: Geometria;
    font-size: 15px;
    line-height: 1.2;
  }

  &__read-more {
    display: block;
    margin-top: 19px;
    text-decoration: underline;
    font-family: Geometria-Bold;
    color: #6C5ED6;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
  }

  &_active {
    display: flex;
    width: 541px;
    height: 325px;
    background-color: #fff;
    border-radius: 30px;

    .media-block__picture {
      height: 100%;
      width: 292px;
    }

    .media-block__info {
      padding: 45px 48px 36px 27px;
      width: 248px;
    }
  }
}
