<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>Cindx #02</title>
</head>
<body>
  <div class="app flex">
    <div class="container flex">

      <!-- Left side begin -->
      <div class="left-side flex">
        <h1>Geographic scope</h1>
        <nav class="flex">
          <a href="#">Costumers potential …</a>
          <a href="#">Transactions potential …</a>
          <a href="#">Value added to average …</a>
        </nav>
      </div>
      <!-- Left side end -->

      <!-- Right side -->
      <div class="right-side">
        <div class="tooltip">
          <span>London</span>
          <span> ETH - > BTC</span>
        </div>
        <!-- <div class="tooltip">
          <span>San Francisco</span>
          <span> BCH - > XRP</span>
        </div>
        <div class="tooltip">
          <span>New York</span>
          <span> ADA -> XLM</span>
        </div> -->
      </div>
    </div>
  </div>
</body>
</html>