.roadmap {
  padding: 0;
}

.roadmap__content {
  padding-bottom: 100px;
}

.roadmap__headcontainer {
  margin: 0px !important;
  padding: 0px !important;
  background: linear-gradient(#2b004b 0%, #7c77b7 60%, #9ad3e7 100%);
  position: relative;
}

.roadmap__headcontainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  background: url('../../images/mountain.png') no-repeat;
  background-size: 600px;
  background-position: right 0 bottom 0px;
  pointer-events: none;
}

.roadmap__title {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.roadmap__buttons {
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.roadmap__button {
  margin-left: 20px;
}

.roadmap__map {
  margin: 70px auto 0 auto;
  position: relative;
  width: 630px;
}

.roadmap__line {
  top: 14px;
  left: 6px;
  position: absolute;
  width: 610px;
  height: 2px;
  background-color: #fff;
}
.roadmap__circles {
  margin-top: 28px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.roadmap__circle {
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  cursor: pointer;
}

@keyframes arrow {
  0% {top: 30px}
  50% {top: 40px}
  100% {top: 30px}
}

.roadmap__circle.active:after {
  content: '';
  border: 8px solid transparent; border-bottom: 8px solid white;
  position: absolute;
  top: 30px;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.roadmap__text {
  width: 620px;
  font-size: 16px;
  color: white;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 50px;
}
.roadmap__image {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  height: 100%;
}

.roadmap__disc {
  border-radius: 100%;
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.roadmap__year {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  margin-left: -5px;
  margin-right: -5px;
}

.roadmap__quartal {
  font-family: Geometria;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.roadmap__quartals {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
  height: 16px;
}

.roadmap__years {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16px;
}

.roadmap__quartal_1 {
  margin-left: 5px;
}
.roadmap__quartal_9 {
  margin-right: 5px;
}


@media screen and (max-width: 767px) {
  .road-show-block .header_blocks {
    margin: 50px auto!important;
  }

  .roadmap__circles {
    margin-top: 13px;
  }
  .roadmap__circle.active:after {
    content: '';
    top: 30px;
  }

  .roadmap__content {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .roadmap {
    padding-left: 42px;
    padding-right: 42px;
  }
  .roadmap__buttons {
    margin: 0;
    margin-top: 85px;
    margin-right: 40px;
  }
  .roadmap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .roadmap__map {
    width: 904px;
  }
  .roadmap__line {
    width: 868px;
    left: 25px;
  }
  .roadmap__text {
    width: 620px;
  }
  .roadmap__image {
    width: 620px;
  }
}

@media screen and (max-width: 1439px) {
  .roadmap__wrapper-content {
    flex-wrap: wrap;
  }

  .roadmap__headcontainer:before {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .roadmap__wrapper-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .roadmap__map {
    width: 904px;
  }
  .roadmap__line {
    width: 860px;
  }
  .roadmap__text {
    width: 55%;
    padding-right: 10%;
  }
  .roadmap__image {
    width: 30%;
  }
}
