.team-member {
  display: inline-block;
  vertical-align: top;
  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 9px solid #fff;
  }

  &__name {
    font-size: 19px;
    font-family: Geometria-Bold;
    color: #fff;
    line-height: 1;
    margin-top: 45px;
  }

  &__position {
    margin-top: 15px;
    font-size: 13px;
    font-family: Geometria-Light;
    color: #fff;
    line-height: 1;
  }

  &__delimiter {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 18px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &__achievment {
    color: #fff;
    font-size: 12px;
    font-family: Geometria-Light;
    line-height: 1.3;
  }

  &__achievment-number {
    font-size: 18px;
    font-family: Geometria-Bold;
  }

  &__linked-in {
    margin-top: 40px;
    width: 18px;
    height: 17px;
  }
}
