.how-does-it-screen {
  padding-top: 3.83vh;
  padding-bottom: 5.83vh;
  &__header {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    font-family: Geometria-Bold;
    font-size: 7.69vh;
    color: #fff;
    margin-right: 220px;
    line-height: 1.2;
  }

  &__people {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    height: 65vh;
  }
}
