.title-screen {
  padding-top: 17.5vh;
  padding-bottom: 18.3vh;
  &__header {
    width: 540px;
    font-family: Geometria-Bold;
    font-size: 6.48vh;
    color: #fff;
    line-height: 1;
  }

  &__title {
    margin-top: 7.2vh;
    width: 452px;
    margin-top: 2.78vh;
    font-family: Geometria;
    font-size: 2.3vh;
    color: #fff;
    line-height: 1;
  }
}
