
.scene {
	display: flex;
	position: relative;
	.layot {
		position: sticky;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}

.scene.fixedScene {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: red;
}

.bgMountains{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.bgMountains-img{
		position: absolute;
		bottom: 0%;
		left: 20%;
	}
}

.funicular{
	position: absolute;
	bottom: 0;
  left: 0;
  z-index: 2;
}

.filterBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7000px;
	background-image: url(http://uploads.webflow.com/5b043f8fe114c89242e2de0f/5b05238fabbf26c7e7a31cdb_stars_mount.svg), linear-gradient(180deg, #4e217b, #7dabbf 23%, #7dabbf);
	background-position: 50% 0px, 0px 0px;
  background-size: 60%, auto;
  background-repeat: repeat-x, repeat;
}

.upperBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 2;
	pointer-events: none;
}