.block_6 .carusel-block {
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

.block_6 .slick-list {
}

.block_6 .carusel-block .slick-prev:before {
    font-size: 0px;
    display: block;
    position: absolute;
    padding: 0;
    background: url(../../images/arrow_big_left.png);
    top: -60px;
    margin-top: 0px;
    left: -200px;
    width: 60px;
    height: 115px;
}

.block_6 .carusel-block .slick-next:before {
    font-size: 0px;
    display: block;
    position: absolute;
    padding: 0;
    background: url(../../images/arrow_big_right.png);
    top: -60px;
    margin-top: 0px;
    right: -200px;
    width: 60px;
    height: 115px;
}

.block_6 .item {
  width: 280px;
  height: 370px;
  margin-right: 65px;
  float: left;
}

.block_6 .left {
  float: left;
}

.block_6 .left p {
  width: 440px;
  font-size: 16px;
  margin-top: 100px;
  font-weight: 300;
}

.block_6 .left h3 {
  font-size: 40px;
  margin: 0;
}

.block_6 .left .watchVideo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid white;
}

.block_6 h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  padding-top: 10px;
}

.block_6 .left a.sb
{
    width: 56px;
    height: 56px;
    display: block;
    float: right;
    background: url(../../images/block_6_play.png) no-repeat left 40px center;
    padding-left: 80px;
    cursor: pointer;
}
.block_6 .left a.sb2
{
    display: none;
}

.block_6 .carusel-block hr {
  text-align: left;
  width: 50px;
  height: 2px;
  background: #6C5ED6;
  display: block;
  padding: 0;
  margin: 30px 0;
  border: 0;
}


@media (max-width: 1299px) {
  .block_6 .carusel-block .slick-next:before {
    right: -55px;
  }
  .block_6 .carusel-block .slick-prev:before {
    left: -55px;
  }
  .block_6 .carusel-block {
    width: 770px;
  }
  .block_6 .item {
    margin-right: 50px;
  }
}
