.token-details-screen {
  padding-top: 7.5vh;
  padding-bottom: 12.87vh;

  &__header-wrap {
    display: flex;
  }
  &__header {
    padding: 20px 40px 20px 0px;
    font-size: 6.48vh;
    font-family: Geometria-Bold;
    color: #fff;
    line-height: 1.1;
  }

  &__bar-wrap {
    display: flex;
    align-items: center;
    height: 108px;
    padding-left: 40px;
    border-left: 1px solid #fff;
  }

  &__content-wrap {
    margin-top: 5.83vh;
    display: flex;
    flex-wrap: wrap;
    width: 565px;
    justify-content: space-between;
  }

  &__info {
    width: 266px;
    font-family: Geometria-Light;
    font-size: 17px;
    line-height: 2;
    color: #fff;
    margin-bottom: 4.17vh;
  }

  &__info:last-child {
    display: flex;
    align-items: flex-end;
  }

  &__bold-text {
    font-family: Geometria-Bold;
    color: #6C5ED6;
  }
}
