
.Geographic {
  margin-top: 5vh;
}

[root-class=Geographic] .app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%
}

[root-class=Geographic] .container {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

[root-class=Geographic] .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*** Right side ***/
[root-class=Geographic] .right-side {
  position: absolute;
  width: 850px;
  height: 500px;
  right: -80px;
  top: 50%;
  margin-top: -170px;
  z-index: -1;
  background: url(../assets/export_mountain_v2/map_min.svg) no-repeat;
}

[root-class=Geographic] .right-side .tooltip {
  position: absolute;
  padding: 10px 25px;
  background: #40255D;
  color: white;
}

[root-class=Geographic] .right-side .tooltip span:first-child {
  font: 12px Geometria;
}

[root-class=Geographic] .right-side .tooltip span:last-child {
  font: 12px Geometria-Bold;
}

[root-class=Geographic] .right-side .tooltip:nth-of-type(1) {
  left: 240px;
  top: 200px;
}

/*** Left side ***/
[root-class=Geographic] .left-side {
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 450px;
  margin: auto 0;
}

[root-class=Geographic] .left-side h1 {
  font: 83px Geometria-Bold;
  line-height: 80px;
  margin: 0;
  color: white;
}

[root-class=Geographic] .left-side .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[root-class=Geographic] .left-side .nav a {
  color: white;
  margin: 5px 0;
  font: 19px Geometria;
}