.mvpBlock {
  background: blue;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
  flex-direction: column;

  background: linear-gradient(#2b004b 0%, #0089BB 60%, #0089BB 100%);
}

.mvpBlock .btn {
  padding: 0 25px;
  height: 40px;
  border-radius: 25px;
  border: solid 1px #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #6e5fd6;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.mvpBlock:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  background: url('../../images/mountain.png') no-repeat;
  background-size: 600px;
  background-position: right 0 bottom -40%;
  pointer-events: none;
}

.mvpBlock-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mvpBlock .mvpBlock-titleMain {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 80px;
} 

.mvpBlock-container-two {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 50px;
}

.mvpBlock-container-two .mvpBlock-screeImg {
  width: 50%;
  display: flex;
  align-items: center;
}

.mvpBlock-container-two .mvpBlock-screeImg img {
  width: 100%;
}

.mvpBlock-container-two .mvpBlock-formBlock {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content {
  width: 75%;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-title {
  font-size: 14px;
  color: white;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-tsform {
  display: flex;
  margin-top: 50px;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-tsform .mvpBlock-mail {
  color: white;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px 20px;
  background: none;
  font-weight: bold;
  text-align: center;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-tsform .mvpBlock-buttonSend {
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px 40px;
  border-radius: 100px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-textStatus {
  font-size: 14px;
  margin: 10px 0 0;
  color: white;
  position: absolute;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-textStatus.error {
  color: #ff4040;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-textStatus.loading {
  color: #666666;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-textStatus.success {
  color: #8bc34a;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-adjustments {
  width: 100%;
}

.mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-adjustments img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .mvpBlock-container-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-tsform {
    flex-direction: column;
  }

  .mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content .mvpBlock-tsform .mvpBlock-buttonSend {
    margin: 5px 0 0 0;
    justify-content: center;
  }

  .mvpBlock-container-two .mvpBlock-screeImg {
    width: 80%;
  }

  .mvpBlock-container-two .mvpBlock-formBlock {
    width: 80%;
  }

  .mvpBlock-container-two .mvpBlock-formBlock .mvpBlock-content {
    margin-top: 40px;
  }
}





