@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Heavy.woff2') format('woff2'),
        url('../fonts/Geometria-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.woff2') format('woff2'),
        url('../fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.woff2') format('woff2'),
        url('../fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-MediumItalic.woff2') format('woff2'),
        url('../fonts/Geometria-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Geometria';
    color: #fff;
    font-size: 16px;
}

h2
{
  font-weight : bold;
  font-size : 48px;
  color : #FFFFFF;
}


.size
{
    width:  1090px;
    padding: 0 20px; 
    margin: 0 auto;  
}

.clear
{
    clear: both;
}

.block_1
{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(76, 32, 115, 1) 0%,rgba(8, 159, 195, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(76, 32, 115, 1) ),color-stop(1,rgba(8, 159, 195, 1) ));
  background : -o-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C2073', endColorstr='#089FC3' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C2073',endColorstr='#089FC3' , GradientType=0);
    padding-bottom: 110px;
}

/**/
.menu_block.fixed {
  background: #46316a6b;
  padding: 20px 0;
  z-index: 999;
}

.menu_block.fixed .header{
  padding-top: 0px;
}

.menu_block.fixed .header ul.menu{
  display: block;
  float: right;
  list-style: none;
  height: 45px;
  line-height: 45px;
}

.menu_block.fixed .header .left_lead .slog{
    display: none;
}

.menu_block.fixed .header ul.menu li a:before{
  content: '';
  bottom: 0px;
}
/**/

.menu_block .header
{
    padding-top: 85px;
    display: block;
    width: 1024px;
    margin:  0 auto;
}

.menu_block .header .left_lead
{
    display: block; 
    float: left;
}

.menu_block .header .left_lead a.logo
{
    display: block; 
    float:  left;
    margin-right: 45px;
}

.menu_block .header .left_lead .slog
{
    display: block; 
    float:  right;
    max-width: 170px;
    font-size: 16px;
    padding-left: 45px;
    position: relative;
}

.menu_block .header .left_lead .slog:before
{
    display: block;
    content: '';
    width: 1px;
    height: 155px;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -15px;
    opacity: 0.5;
}

.menu_block .header .left_lead .slog span
{
    font-size: 14px;
    display: block;
    opacity: 0.5;
}

.menu_block .header ul.menu
{
    display: block;
    float: right;
    list-style: none;
}

.menu_block .header ul.menu li
{
    display: block;
    float: left;
}

.menu_block .header ul.menu li a
{
    display: block;
    float: left;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

.menu_block .header ul.menu li a:before
{
    content: '';
    display: block;
    position: absolute;
    bottom: -27px;
    width: 0;
    height: 6px;
    background: #6C5ED6;
    transition: width 0.5s;
}


.menu_block .header ul.menu li a:hover:before
{
    width: 100%;
}

.block_1 h1
{
    font-weight : bold;
    font-size : 48px;
    line-height : 60.78px;
    color : #FFFFFF;
    max-width: 630px;
    margin-top: 50px;
    float: left;
}

.block_1 a.sb
{

background : -moz-linear-gradient(0% 50% 0deg,rgba(242, 135, 183, 1) 0%,rgba(108, 94, 214, 1) 100%);

background : -webkit-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(242, 135, 183, 1) ),color-stop(1,rgba(108, 94, 214, 1) ));

background : -o-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -ms-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7', endColorstr='#6C5ED6' ,GradientType=0)";

background : linear-gradient(90deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

width : 163px;

height : 52px; 

border-radius : 24px;

-moz-border-radius : 24px;

-webkit-border-radius : 24px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7',endColorstr='#6C5ED6' , GradientType=1);

display: block;

box-shadow: 6px 7px 22px rgba(0, 0, 0, 0.3);

text-align: center;

font-size: 13px;

font-weight: bold;

line-height: 52px;

text-transform: uppercase;

text-decoration: none;

color: #fff;

transition: box-shadow 0.3s;

float: right;

margin-top: 90px;
}

.block_1 a.sb:hover
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.block_1 .cont_row
{
    display: block;
    margin-top: 70px;
}

.block_1 .cont_row .row
{
    display: block;
    float: left;
    width: 270px;
    display: block;
    margin-right: 110px;
}

.block_1 .cont_row .row:last-child
{
    margin-right: 0;
}

.block_1 .cont_row .row h2
{
    font-weight : bold;
    font-size : 30px;
    color : #FFFFFF;
    padding-bottom: 27px;
    border-bottom: 1px solid #fff;
}

.block_1 .cont_row .row span
{
    font-size: 14px;
    color: #DEB2ED;
    display: block;
    margin-top: 27px;
    height: 75px;
    line-height: 18px;
}

.block_1 .cont_row .row img
{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.block_1 .cont_row .row h3
{
    height: 55px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.block_1 .cont_row .row p
{
    font-size: 14px;
}

.icon-block {
  position: relative;
  float: right;
  width: 45px;
}

 .icon-block .icon {
  width: 40px;
  height: 40px;
}

.block_2
{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5142a9+0,5f59cf+100 */
    background: #5142a9; /* Old browsers */
    background: -moz-linear-gradient(top, #5142a9 0%, #5f59cf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5142a9 0%,#5f59cf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5142a9 0%,#5f59cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5142a9', endColorstr='#5f59cf',GradientType=0 ); /* IE6-9 */
    padding: 70px 0;
}


.block_2 .cont_row
{
    display: block;
    margin-top: 100px;
}

.block_2 .cont_row .row
{
    width: 240px;
    display: block;
    float: left;
    margin-right: 40px;
}

.block_2 .cont_row .row:last-child
{
    margin-right: 0;
}

.block_2 .cont_row .row h3
{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;

}

.block_2 .cont_row .row p
{
    font-size: 14px;
    display: block;
    min-height: 80px;
    margin-bottom: 20px;
}

.block_2 .cont_row .row .cloud
{
    background: url(../images/block_2_cloud.png) no-repeat center;
    width: 259px;
    height: 121px;
    display: block;
    margin-left: -5px;
}

.block_2 .cont_row .row .cloud span
{
    display: block;
    font-size: 16px;
    font-weight: normal;
    width: 200px;
    padding-top: 14px;
    margin-left: 29px;
}

.block_2 .cont_row .row img
{
    display: block;
    margin: 0 auto;
}

.block_3
{
    padding: 70px 0;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(46, 29, 104, 1) 0%,rgba(51, 30, 103, 1) 18.15%,rgba(66, 32, 102, 1) 40.15%,rgba(90, 36, 99, 1) 64.16%,rgba(124, 42, 96, 1) 89.42%,rgba(141, 45, 94, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(46, 29, 104, 1) ),color-stop(0.1815,rgba(51, 30, 103, 1) ),color-stop(0.4015,rgba(66, 32, 102, 1) ),color-stop(0.6416,rgba(90, 36, 99, 1) ),color-stop(0.8942,rgba(124, 42, 96, 1) ),color-stop(1,rgba(141, 45, 94, 1) ));
  background : -o-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68', endColorstr='#8D2D5E' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68',endColorstr='#8D2D5E' , GradientType=0);
  position: relative;
}

.block_3:after
{
    content: '';
    display: block;
    position: absolute;
    width: 1092px;
    height: 624px;
    background: url(../images/block_3_maps.png) no-repeat center;
    left: 50%;
    margin-left: -546px;
    bottom: 20px;
    opacity: 0.4;

}


.block_3 .ico_block
{
    display: block;
    float: right;
    margin-top: -31px;
}

.block_3 .ico_block .row
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14.5px;
    margin-left: 20px;
    cursor:  pointer;
}

.block_3 .ico_block .row img,
.block_3 .ico_block .row span
{
    display: inline-block;
    vertical-align: middle;
}

.block_3 .ico_block .row span
{
    margin-left: 5px;
}

.block_3 .owl-carousel 
{
    display: block;
    margin-top: 50px;
    position: relative;

}

.block_3 .owl-carousel .owl-stage-outer
{
    border-radius: 25px;
}

.block_3 .owl-carousel .item
{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 25px;
    padding: 20px;
    min-height: 340px;
}

.block_3 .owl-carousel .item img
{
    width: auto;
    max-width: 100%;
    display: block;
    margin-top: 20px;
}

.block_3 .owl-carousel .item h3
{
    font-size: 27px;
    font-weight: normal;
}

.owl-theme .owl-dots
{
    display: none;
}

.block_3 .owl-carousel .owl-nav .owl-next
{
    display: block;
    position: absolute;
    padding: 0;
    background: url(../images/arrow_small_right.png);
    top: 55px;
    right: 60px;
    width: 17px;
    height: 31px;
}

.block_3 .owl-carousel .owl-nav .owl-prev
{
    display: block;
    position: absolute;
    padding: 0;
    background: url(../images/arrow_small_left.png);
    top: 55px;
    right: 120px;
    width: 17px;
    height: 31px;
}

.block_3 .owl-carousel .item a.size
{
    display: block;
    float: right;
    width: 42px;
    height: 43px;
    background: url(../images/zoom.png) no-repeat center;
    margin-top: -40px;
    margin-right: -25px;
}

.block_3 .owl-carousel .item a.size:hover,
.block_3 .owl-carousel .item a.size:focus
{
    opacity: 0.7;
    outline: none;
}

.fancybox-bg
{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(46, 29, 104, 1) 0%,rgba(51, 30, 103, 1) 18.15%,rgba(66, 32, 102, 1) 40.15%,rgba(90, 36, 99, 1) 64.16%,rgba(124, 42, 96, 1) 89.42%,rgba(141, 45, 94, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(46, 29, 104, 1) ),color-stop(0.1815,rgba(51, 30, 103, 1) ),color-stop(0.4015,rgba(66, 32, 102, 1) ),color-stop(0.6416,rgba(90, 36, 99, 1) ),color-stop(0.8942,rgba(124, 42, 96, 1) ),color-stop(1,rgba(141, 45, 94, 1) ));
  background : -o-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68', endColorstr='#8D2D5E' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68',endColorstr='#8D2D5E' , GradientType=0);
opacity: 1 !important;
}

.fancybox-caption
{
    font-size: 32px;
}

.block_3 .other_text
{
    display: block;
    margin-top: 50px;
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

.block_3 .other_text .cont_1,
.block_3 .other_text .cont_2
{
    width: 340px;
    float: left;
    font-size: 17px;
    margin-right: 20px;
    padding-right: 16px;
}

.block_3 .other_text img.man
{
    max-width: 70px;
    float: right;
    margin-right: 100px;
}

.block_3 .other_geo
{
    position: relative;
    z-index: 2;
}

.block_3 .other_geo .cont_row .row
{
    display: block;
    float: left;
    margin: 125px;
    margin-left: 0;
    font-size: 22px;
    width: 260px;
}

.block_3 .other_geo .cont_row .row:last-child
{
    margin-right: 0;
}

.block_4
{
    padding: 70px 0;
    background : -moz-linear-gradient(50% 0% -90deg,rgba(76, 32, 115, 1) 0%,rgba(8, 159, 195, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(76, 32, 115, 1) ),color-stop(1,rgba(8, 159, 195, 1) ));
  background : -o-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C2073', endColorstr='#089FC3' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(76, 32, 115, 1) 0%, rgba(8, 159, 195, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C2073',endColorstr='#089FC3' , GradientType=0);
  position: relative;
  overflow: hidden;
}

.block_4:before
{
    content: '';
    display: block;
    position: absolute;
    width: 1619px;
    height: 980px;
    bottom: -200px;
    left: 50%;
    margin-left: -1656px;
    background: url(../images/block_4_img_bg_1.png) no-repeat;
}

.block_4:after
{
    content: '';
    display: block;
    position: absolute;
    width: 88px;
    height: 127px;
    bottom: 560px;
    right: 50%;
    margin-right: -650px;
    background: url(../images/block_4_img_bg_2.png) no-repeat;
}


.block_4 .cont_1
{
    width: 515px;
    float: left;
    margin-right: 55px;
}

.block_4 .cont_1 h2
{
    margin-bottom: 40px;
}

.block_4 .cont_1 p
{
    padding: 10px 0;
    font-size: 15px;
}

.block_4 .cont_1 p span
{
    font-weight: bold;
    color: #B0A5FF;
}

.block_4 .cont_2
{
    width: 515px;
    float: right;

}

.block_4 .cont_2 h2
{
    margin-bottom: 40px;
}

.block_4 .cont_2 p
{
    padding: 7.5px 0;
    font-size: 15px;
}

.block_4 .cont_2 p span
{
    font-weight: bold;
    color: #B0A5FF;
}

.block_4 .cont_2 .process_bar
{

    background : rgba(255, 255, 255, 0.1);
    width : 415px;
    height : 35px;
    border-radius : 18px;
    -moz-border-radius : 18px;
    -webkit-border-radius : 18px;

    position: relative;
    margin-bottom: 100px;
    margin-top: 115px;

}

.block_4 .cont_2 .process_bar .proc
{
    background : rgba(255, 255, 255, 0.2);
    width : 324px;
    height : 35px;
    border-radius : 18px 0  0 18px;
    -moz-border-radius : 18px 0  0 18px;
    -webkit-border-radius : 18px 0  0 18px;
    position: absolute;
    left: 0;
    top:0;
    width: 4%;
}

.block_4 .cont_2 .process_bar .left
{
    font-size: 13px;
    display: block;
    position: absolute;
    left: 90px;
    bottom: -28px;
}


.block_4 .cont_2 .process_bar .right
{
    font-size: 13px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: -28px;
    font-weight: bold;
}


.block_4 .cont_3
{
    width: 515px;
    float: left;
    margin-right: 55px;
    margin-top: 40px;
}

.block_4 .cont_3 h2
{
    margin-bottom: 40px;
}

.block_4 .cont_3 .row
{
    display: block;
    margin: 3px 0;
}

.block_4 .cont_3 .row:after
{
    content: '';
    display: block;
    clear: both;
}

.block_4 .cont_3 .row .process_bar
{

    background : rgba(255, 255, 255, 0.1);
    width : 240px;
    height : 26px;
    border-radius : 13px;
    -moz-border-radius : 13px;
    -webkit-border-radius : 13px;
    position: relative;
    float: left;
    margin-right: 10px;

}

.block_4 .cont_3 .row .process_bar .proc
{
    background: rgba(255, 255, 255, 0.2);
    height: 26px;
    border-radius: 13px 0 0 13px;
    -moz-border-radius: 13px 0 0 13px;
    -webkit-border-radius: 13px 0 0 13px;
    position: absolute;
    left: 0;
    top:0;
    width: 35%;
}

.block_4 .cont_3 .row .num
{
    float: left;
    margin-right: 20px;
    width: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 3px;
}

.block_4 .cont_3 .row p
{
    margin-top: 3px;
    display: block;
    float: left;
    font-size: 15px;
}

.block_4 .cont_4
{
    width: 515px;
    float: left;
    margin-right: 55px;
    margin-top: 70px;
    position: relative;
    z-index: 2;
}

.block_4 .cont_4 h2
{
    margin-bottom: 40px;

}

.block_4 .cont_4 .graph
{
    display: block;
    padding-left: 230px;
    background: url(../images/block_4_cont_4_img.png) no-repeat center left;
    min-height: 190px;
}

.block_4 .cont_4 .graph ul
{
    display: block;
    list-style: none;
    padding-top: 30px;
}

.block_4 .cont_4 .graph ul li
{
    display: block;
    font-size: 13.5px;
    margin:8px 0;
}

.block_4 .cont_4 .graph ul li span
{
    width: 13.5px;
    height: 13.5px;
    background: #009CFF;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 13.5px;
    margin-top: -4px;
}

.block_4 .cont_4 .graph ul li:nth-child(2) span
{
    background: #FF77CB;
}

.block_4 .cont_4 .graph ul li:nth-child(3) span
{
    background: #6600FF;
}

.block_4 .cont_4 .graph ul li:nth-child(4) span
{
    background: #77F7FF;
}

.block_4 .cont_4 .graph ul li:nth-child(5) span
{
    background: #C777FF;
}

.block_4 .cont_5
{
    width: 515px;
    float: right;
    margin-top: 80px;
    position: relative;
    z-index: 2;

}

.block_4 .cont_5 .row
{
    font-size: 17px;
    display: block;
    margin-bottom: 38px;
    text-transform: uppercase;
    cursor:  pointer;
}

.block_4 .cont_5 .row span
{
    display: inline-block;
    vertical-align: middle;
}

.block_4 .cont_5 .row img
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.block_4 a.sb
{

background : -moz-linear-gradient(0% 50% 0deg,rgba(242, 135, 183, 1) 0%,rgba(108, 94, 214, 1) 100%);

background : -webkit-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(242, 135, 183, 1) ),color-stop(1,rgba(108, 94, 214, 1) ));

background : -o-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -ms-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7', endColorstr='#6C5ED6' ,GradientType=0)";

background : linear-gradient(90deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

width : 207px;

height : 66px; 

border-radius : 50px;

-moz-border-radius : 50px;

-webkit-border-radius : 50px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7',endColorstr='#6C5ED6' , GradientType=1);

display: block;

box-shadow: 6px 7px 22px rgba(0, 0, 0, 0.3);

text-align: center;

font-size: 18px;

font-weight: bold;

line-height: 66px;

text-transform: uppercase;

text-decoration: none;

color: #fff;

transition: box-shadow 0.3s;

float: right;

margin-top: 35px;

margin-right: 310px;

position: relative;

z-index: 2;
}

.block_4 a.sb:hover
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.block_4 a.sb.duo
{
    display: none;
}

.block_5
{
    padding: 70px 0;
    background: url(../images/block_5_bg.png) no-repeat center ;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.block_5:before
{
    content: '';
    position: absolute;
    top: 410px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.block_5 .owl-carousel
{
    display: block;
    width: 1200px;
    position: relative;
    z-index: 2;
}

.block_5 .owl-carousel .item
{
    width: 105px;
    height: 360px;
    position: relative;
}

.block_5 .owl-carousel .item:before
{
    display: block;
    content: '';
    width: 1px;
    height: 65px;
    background: #fff;
    position: absolute;
    left: 16px;
    bottom: 49px;
}

.block_5 .owl-carousel .item .numb
{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 20px;
}



.block_5 .owl-carousel .item p
{
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    display: block;
    bottom: 160px;
    line-height: 18px;
    width: 100%;
    word-wrap: break-word;
}

.block_5 .owl-carousel .item img
{
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
}

.block_5 .owl-carousel .owl-nav .owl-next
{
    display: block;
    position: absolute;
    padding: 0;
    background: url(../images/arrow_small_right.png);
    top: -45px;
    right: 60px;
    width: 17px;
    height: 31px;
}

.block_5 .owl-carousel .owl-nav .owl-prev
{
    display: block;
    position: absolute;
    padding: 0;
    background: url(../images/arrow_small_left.png);
    top: -45px;
    right: 120px;
    width: 17px;
    height: 31px;
}

.block_6
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(46, 29, 104, 1) 0%,rgba(51, 30, 103, 1) 18.15%,rgba(66, 32, 102, 1) 40.15%,rgba(90, 36, 99, 1) 64.16%,rgba(124, 42, 96, 1) 89.42%,rgba(141, 45, 94, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(46, 29, 104, 1) ),color-stop(0.1815,rgba(51, 30, 103, 1) ),color-stop(0.4015,rgba(66, 32, 102, 1) ),color-stop(0.6416,rgba(90, 36, 99, 1) ),color-stop(0.8942,rgba(124, 42, 96, 1) ),color-stop(1,rgba(141, 45, 94, 1) ));
  background : -o-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68', endColorstr='#8D2D5E' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68',endColorstr='#8D2D5E' , GradientType=0);
  padding: 70px 0;
}

.block_6 h2
{
    margin-bottom: 100px;
}

.block_6 .owl-carousel 
{
    position: relative;
}

.block_6 .owl-carousel .item
{

}

.block_6 .owl-carousel .item img
{
    display: block;
    float: left;
    width: 335px;
}

.block_6 .owl-carousel .item .right
{
    width: 650px;
    float: left;
    margin-left: 90px;
    margin-top: 90px;
}

.block_6 .owl-carousel .item .right h3
{
    font-size: 35px;
}

.block_6 .owl-carousel .item .right h4
{
    font-size: 18px;
    font-weight: normal;
}

.block_6 .owl-carousel .item .right hr
{
    width: 50px;
    height: 6px;
    background: #6C5ED6;
    display: block;
    padding: 0;
    margin: 30px 0;
    border: 0;
}

.block_6 .owl-carousel .item .right p
{
    font-size: 26px;
    font-weight: normal;
    width: 470px;
    margin-top: 30px;
}

.block_6 .owl-carousel .item .right a.sb
{
    display: block;
    float: right;
    width: 190px;
    height: 89px;
    background: url(../images/block_6_play.png) no-repeat left 40px center;
    margin-top: -50px;
    border-left: 1px solid rgba(255, 255, 255, 0.21);
    line-height: 85px;
    color: #fff;
    text-decoration: none;
    padding-left: 120px;

}

.block_6 .owl-carousel .owl-nav .owl-next
{
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_big_right.png);
        top: 50%;
        margin-top: -55px;
        right: -100px;
        width: 60px;
        height: 115px;
}

.block_6 .owl-carousel .owl-nav .owl-prev
{
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_big_left.png);
        top: 50%;
        margin-top: -55px;
        left: -100px;
        width: 60px;
        height: 115px;
}

.block_7
{
    padding: 70px 0;
    background: #6762AB;
}

.block_7 h2
{
    padding-bottom: 35px;
    margin-bottom: 35px;
}


.block_7 .owl-carousel 
{
    position: relative;
}

.owl-carousel .owl-stage-outer
{
    padding-top: 15px;
}

.block_7 .owl-carousel .item
{
  background : #FFFFFF;
  width : 319px;
  border-radius : 30px;
  -moz-border-radius : 30px;
  -webkit-border-radius : 30px;
  position: relative;
}

.block_7 .owl-carousel .item:after
{
    content: '';
    display: block;
    position: absolute;
    width: 59px;
    height: 59px;
    background: url(../images/cit.png) no-repeat;
    right: -15px;
    top: -15px;
}

.block_7 .owl-carousel.owl_5 .item:after
{
    display: none !important;
}

.block_7 .owl-carousel .item .txt
{
    padding: 35px;
}

.block_7 .owl-carousel .item .txt img
{
    display: block;
    width: auto;
    float: left;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 90px;
}

.block_7 .owl-carousel .item .txt h3
{
    font-size: 22px;
    color: #6762AB;
    padding-top: 10px;
}

.block_7 .owl-carousel .item .txt p
{
    color: #59595C;
    font-size: 15px;
    padding: 20px 0;
}

.block_7 .owl-carousel .item .txt a
{
    font-weight: bold;
}

.block_7 .owl-carousel .owl-nav .owl-next,
.block_8 .owl-carousel .owl-nav .owl-next
{
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_big_right.png);
        top: 50%;
        margin-top: -55px;
        right: -100px;
        width: 60px;
        height: 115px;
}

.block_7 .owl-carousel .owl-nav .owl-prev,
.block_8 .owl-carousel .owl-nav .owl-prev
{
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_big_left.png);
        top: 50%;
        margin-top: -55px;
        left: -100px;
        width: 60px;
        height: 115px;
}

.block_7 hr
{
    display: block;
    margin: 50px 0;
    padding: 0;
    border: 0;
    width: auto;
    height: 1px;
    background: #fff;
}

.block_8
{
    padding: 70px 0;
    background : -moz-linear-gradient(50% 0% -90deg,rgba(46, 29, 104, 1) 0%,rgba(51, 30, 103, 1) 18.15%,rgba(66, 32, 102, 1) 40.15%,rgba(90, 36, 99, 1) 64.16%,rgba(124, 42, 96, 1) 89.42%,rgba(141, 45, 94, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(46, 29, 104, 1) ),color-stop(0.1815,rgba(51, 30, 103, 1) ),color-stop(0.4015,rgba(66, 32, 102, 1) ),color-stop(0.6416,rgba(90, 36, 99, 1) ),color-stop(0.8942,rgba(124, 42, 96, 1) ),color-stop(1,rgba(141, 45, 94, 1) ));
  background : -o-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68', endColorstr='#8D2D5E' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(46, 29, 104, 1) 0%, rgba(51, 30, 103, 1) 18.15%, rgba(66, 32, 102, 1) 40.15%, rgba(90, 36, 99, 1) 64.16%, rgba(124, 42, 96, 1) 89.42%, rgba(141, 45, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E1D68',endColorstr='#8D2D5E' , GradientType=0);
}

.block_8 .in {
  background-image: url(../images/in.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.block_8 h2
{
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #fff;
}

.block_8 .owl-carousel .item img
{
    display: block;
    width: auto;
    height:  120px;
    margin-bottom: 15px;
}

.block_8 .owl-carousel .item p
{
    padding: 3px 0;
    font-size: 14px;
}

.block_8 .owl-carousel .item h3
{
    padding: 10px 0;
}

.block_8 .owl-carousel .item hr {
    width: 50px;
    height: 6px;
    background: #6C5ED6;
    display: block;
    padding: 0;
    margin: 30px 0;
    border: 0;
}

.block_8 .owl-carousel .item p span
{
    font-size: 20px;
    font-weight: bold;
}

.block_8 .owl_7
{

}

.block_8 .owl_7 .owl-stage-outer
{
    padding-top: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.block_8 .owl_7 .item
{
    width: 850px;
    background: #FFFFFF;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    position: relative;
}

.block_8 .owl_7 .item .left
{
    background: #815998;
    float: left;
    height: 100%;
    width: 136px;
    margin-left: -1px;
    margin-top:  -1px;
    padding: 30px;
    border-radius: 30px 0  0 30px;
    -moz-border-radius: 30px 0  0 30px;
    -webkit-border-radius: 30px 0  0 30px;
}

.block_8 .owl_7 .item .left h3
{
    padding:20px 0;
}

.block_8 .owl_7 .item .left p
{
    padding: 10px 0;
    font-size: 13px;
}

.block_8 .owl_7 .item .right
{
    color: #59595C;
    padding: 30px;
    float: right;
    width: 580px;
}

.block_8 .owl_7 .item .right p
{
    padding: 15px 0;
}

.block_9
{
    background: url(../images/block_9_bg.png) no-repeat center;
    background-size: cover;
    padding: 70px 0;
    padding-bottom: 140px;
}

.block_9 h2
{
    font-size: 91px;
    font-weight: bold;
    margin-bottom: 50px;
}

.block_9 a.sb
{

background : -moz-linear-gradient(0% 50% 0deg,rgba(242, 135, 183, 1) 0%,rgba(108, 94, 214, 1) 100%);

background : -webkit-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(242, 135, 183, 1) ),color-stop(1,rgba(108, 94, 214, 1) ));

background : -o-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

background : -ms-linear-gradient(0deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7', endColorstr='#6C5ED6' ,GradientType=0)";

background : linear-gradient(90deg, rgba(242, 135, 183, 1) 0%, rgba(108, 94, 214, 1) 100%);

width : 163px;

height : 50px; 

border-radius : 24px;

-moz-border-radius : 24px;

-webkit-border-radius : 24px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F287B7',endColorstr='#6C5ED6' , GradientType=1);

display: inline-block;

box-shadow: 6px 7px 22px rgba(0, 0, 0, 0.3);

text-align: center;

font-size: 13px;

font-weight: bold;

line-height: 50px;

text-transform: uppercase;

text-decoration: none;

color: #fff;

transition: box-shadow 0.3s;

vertical-align: middle;
}

.block_9 a.sb:hover
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.block_9 a.sb_2
{

width : 163px;

height : 46px; 

border-radius : 24px;

-moz-border-radius : 24px;

-webkit-border-radius : 24px;

display: inline-block;

text-align: center;

font-size: 13px;

font-weight: bold;

line-height: 46px;

text-transform: uppercase;

text-decoration: none;

color: #fff;

transition: background 0.3s;

border: 1px solid #fff;

margin-left: 20px;

vertical-align: middle;
}

.block_9 a.sb_2:hover
{
   background: #fff;
   color: #000;
}

.block_9  form
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 28px;
}

.block_9  form input
{
    width: 290px;
    height : 46px;
    border-radius : 24px;
    -moz-border-radius : 24px;
    -webkit-border-radius : 24px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 46px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
    border: 1px solid #fff;
    vertical-align: middle;
    background: none;
    text-align: left;
    padding-left: 30px;
}

.block_9  form input::placeholder
{
     font-family: 'Geometria';
     color: #fff;
     font-weight: bold;
}

.block_9  form button
{
    width: 140px;
    /* height : 44px; */
    border-radius : 24px;
    -moz-border-radius : 24px;
    -webkit-border-radius : 24px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 43px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
    border: 2px solid #fff;
    vertical-align: middle;
    background: none;
    background: #fff;
    color: #6C5ED6;
    font-weight: bold;
    font-family: 'Geometria';
    margin-left: -134px;
    cursor: pointer;
}


.block_9  p
{
    margin-top: 90px;
    font-size: 21px;
}

.block_9 a.small
{
    font-size: 12px;
    color: #fff;
}

[map_arr="3"] .item img {
  width: 140px!important;
  height: auto!important;
}

[map_arr="2"] .item img {
  width: 140px!important;
  height: auto!important;
}

[map_arr="2"]  .mid_img_advisers {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

[map_arr="3"]  .mid_img_advisers {

border: 5px solid white;

border-radius: 50%;

width: 120px;

height: 120px;

overflow:  hidden;
background-size: cover;
    background-position: center;
}

/**/
popup[video] {

position: fixed;

width: 100%;

height: 100%;

top: 0;

left: 0;

z-index: 9999;
display: none;
}

popup[video] .rgba {
  
position: fixed;
  
width: 100%;
  
height: 100%;
  
top: 0;
  
left: 0;
  
background: #000000cc;
}

popup[video] .th_video {
  /* position: absolute; */
  display:  table;
  margin: 50px auto;
}

popup[video] .th_video .close {

position:  relative;

margin:  20px;

background: #717070;

display:  table;

padding: 10px 30px;

border-radius: 100px;

cursor:  pointer;
}

popup[video] .th_video .th_iframe {

display:  table;

position:  relative;
}

popup[video] .th_video .th_iframe iframe {
  
height: 500px;
  
width: 720px;
}

/**/
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none!important;
}

.block_6 .mid_img_advisers{
    width: 350px;
    height: 475px;
    display: inline-block;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.block_7 .mid_img_advisers {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 30px 30px 0 0;
    background-position: 0 -10px;
}

[link] {
    color: inherit;
}

.footer-block {
  width: 710px;
  margin-top: 50px;
}

.footer-block-left {
  float: left;
}

.footer-block-right {
  float: right;
}

.footer-block-left .name {
  font-size: 25px; 
}

.footer-block-right .name{
  font-size: 25px;
}

.inquiries-block {
  margin-top: 20px;
}

.feedback-info {
  float: left;
}

@media (max-width: 1300px)
{
    .block_1{
      padding-top: 20px;
    }

    .size {
      width: 710px;
      margin: 0 auto;
    }

    .menu_block .header {
      padding-top: 45px;
    }

    .menu_block .header .left_lead a.logo {
      float: none;
      padding: 0;
      margin: -10px 15px;
    }

    .menu_block .header .left_lead .slog {
      display: none;
    }

    .menu_block .header ul.menu {
      float: none;
    }
  
    .menu_block.fixed .header ul.menu {
      float: none;
    }
  
    .icon-block {
      position: relative;
      float: right;
      width: 45px;
      margin-right: -55px;
    }

    .menu_block.fixed .header .left_lead a.logo {
      margin: 0px 15px;    
    }

    .first_block_1 {
      padding-top: 135px;
    }

    /*.menu_block .header .left_lead a.logo
    {
        margin-right: 20px;
    }

    .menu_block .header .left_lead .slog
    {
        padding-left: 20px;
    }

    .menu_block .header
    {
        padding-top: 40px;
    }

    .menu_block .header ul.menu
    {
        float: none;
        padding-top: 30px;
        clear: both;
    }

    .menu_block .header .left_lead:after
    {
        display: block;
        content: '';
        clear: both;
    }

    .menu_block .header ul.menu li a
    {
        margin-left: 0 ;
        margin-right: 30px;
    }*/

    .block_1 a.sb
    {
        float: none;
    }

    .block_1 h1
    {
        float: none;
    }

    .block_1 .cont_row .row {
        display: block;
        float: left;
        width: 200px;
        display: block;
        margin-right: 45px;
    }

    .block_2 .cont_row .row
    {
        margin-right: 105px;
        margin-top: 80px;
    }

    .block_2 .cont_row
    {
        margin-top: 0;
    }

    .block_3 .ico_block
    {
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .block_3 .ico_block .row
    {
        margin-left: 0;
        margin-right: 20px;
    }

    .block_3 .owl-carousel .item
    {
        padding: 40px;
    }

    .block_3 .owl-carousel .item h3
    {
        font-size: 52px;
    }

    .block_3 .owl-carousel .item a.size
    {
        display: none;
    }

    .block_3 .other_text .cont_1, 
    .block_3 .other_text .cont_2
    {
        font-size: 17px;
        margin-right: 35px;
        width: 315px;
    }

    .block_3 .other_text
    {
        position: initial;
    }

    .block_3 .other_text img.man
    {
        max-width: 100%;
        width: auto;
        position: absolute;
        bottom: 10px;
        margin-right: -330px;
        float: none;
        right: 50%;
        z-index: 2;
    }

    .block_3 .other_geo .cont_row .row
    {
        float: none;
        display: block;
        margin: 20px;
        margin-left: 0;
    }

    .block_3:after
    {
        background-size: cover;
        width: 686px;
        height: 390px;
        margin-left: -340px;
    }

    .block_4 .cont_2,
    .block_4 .cont_1,
    .block_4 .cont_3,
    .block_4 .cont_5
    {
        float: none;
        margin-top: 40px;
        clear: both
    }

    .block_4 .cont_1
    {
        margin-top: 0;
    }

    .block_4 .cont_4
    {
        float: none;
    }

    .block_4 a.sb
    {
        float: none;
        margin-right: 0;
    }

    .block_4:before
    {
        background: url(../images/block_4_img_bg_3.png) no-repeat;
        background-size: 680px;
        width: 675px;
        height: 410px;
        bottom: 0;
        margin-left: -70px;
    }

    .block_4:after
    {
        bottom: 1010px;
        margin-right: -350px;
    }

    .block_4 a.sb.duo
    {
        display: block;
        float: right;
        margin-top: -293px;
    }

    .block_5 .owl-carousel
    {
        width: 100%;
    }



    .block_6 .owl-carousel .owl-nav .owl-next,
    .block_7 .owl-carousel .owl-nav .owl-next,
    .block_8 .owl-carousel .owl-nav .owl-next
    {
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_small_right.png);
        top: 0;
        left: auto;
        right: 60px;
        width: 17px;
        height: 31px;
        margin-top: 0;
    }

    .block_6 .owl-carousel .owl-nav .owl-prev,
    .block_7 .owl-carousel .owl-nav .owl-prev,
    .block_8 .owl-carousel .owl-nav .owl-prev
    {
        display: block;
        position: absolute;
        padding: 0;
        background: url(../images/arrow_small_left.png);
         top: 0;
        left: auto;
        right: 120px;
        width: 17px;
        height: 31px;
        margin-top: 0;
    }

    .block_7 .owl-carousel .owl-nav .owl-next,
    .block_7 .owl-carousel .owl-nav .owl-prev,
    .block_8 .owl-carousel .owl-nav .owl-next,
    .block_8 .owl-carousel .owl-nav .owl-prev
    {
        top: -110px;
    }

    .block_6 .owl-carousel .item img
    {
        width: 180px;
    }

    .block_6 .owl-carousel .item .right
    {
        margin-left: 0;
        margin-top: 30px;
    }

    .block_8 .owl_7 .item
    {
        width: 710px;
    }

    .block_8 .owl_7 .item .right
    {
        color: #59595C;
        padding: 10px;
        float: right;
        width: 480px;
    }

    .block_8 .owl_7 .item .right p
    {
            padding: 6px 0;
    }

    .block_9 form
    {
        display: block;
        margin-left: 0;
        margin-top: 25px;
    }

    .block_9 form input
    {
        width: 323px;
    }

    .block_1 .cont_row .row span {
        height: 110px;
    }
}

@media (max-width: 768px){
  .icon-block {
    position: relative;
    float: right;
    width: 45px;
    margin-right: -31px;
  }
}