.teamLegal {
  padding: 0;
  color: #fff;
  background: linear-gradient(to left, rgba(100,73,155,0.7), rgba(0,178,220,0.7)), url(../../media/team-legal.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.teamLegal .container {
  margin-top: 70px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.teamLegal .container a {
  color: #fff;
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 30px;
}
.teamLegal .container a:last-of-type {
  padding-right: 0;
}
.teamLegal .container .left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 130px;
}
.teamLegal .container .row {
  flex-wrap: wrap;
  display: flex;
}
.teamLegal .container .row .LC {
  width: 370px;
  display: flex;
  align-items: center;
  margin-right: 55px;
  margin-bottom: 20px;
}
.teamLegal .container .row .LC p {
  font-size: 14px;
}
.teamLegal .container .left .img {
  width: 54px;
  height: 54px;
  background-color: #6c5ed6;
  border-radius: 50%;
  margin-right: 20px;
}
.teamLegal .left .dock_block {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.teamLegal .dock_block  .dock img{
  height: 16px;
  margin-right: 10px;
}
.teamLegal .right:nth-of-type(2) {
  background-image: url(../../media/team-legal.png);
  background-size: cover;
  width: 540px;
  height: 308.3px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamLegal .right:nth-of-type(2) img {
  width: 77px;
  height: 77px;
}
.teamLegal .right .play {
  width: 40px;
  height: 40px;
  margin-top: 75px;
  cursor: pointer;
}
.dock .row {
  margin-bottom: 20px;
}

@media (max-width: 1439px) {
  .teamLegal .container .left {
    margin-bottom: 70px;
  }
}

@media (max-width: 1023px) {
  .teamLegal .header_blocks {
    width: 60%;
  }

  .teamLegal .container {
    align-items: center;
    margin: 0 auto;
  }

  .teamLegal .container .left {
    display: block;
  }
  
  .teamLegal .container {
    margin-top: 50px;
  }

  .teamLegal .container .left {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 767px) {
  .teamLegal {
    display: none;
  }
}