.teamLegal {
  padding: 0;
  color: white;
  background-image: linear-gradient(to top, #626f96, #2e164e);
  background: none;
}
.teamLegal .container {
  padding: 60px 0 250px;
  display: flex;
  margin: 0 110px;
}
.teamLegal .container a {
  color: white;
}
.teamLegal .container .left {
  display: inline-block;
  /* margin-right: 15%; */
}
.teamLegal .container .row {
  flex-wrap: wrap;
  display: flex;
}
.teamLegal .container .row .LC {
  width: 370px;
  display: flex;
  align-items: center;
  margin-right: 55px;
  margin-bottom: 20px;
}
.teamLegal .container .row .LC p {
  font-size: 14px;
}
.teamLegal .container .left .img {
  width: 54px;
  height: 54px;
  background-color: #6c5ed6;
  border-radius: 50%;
  margin-right: 20px;
}
.teamLegal .left .dock_block {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.teamLegal .dock_block  .dock img{
  height: 16px;
  margin-right: 10px;
}
.teamLegal .right:nth-of-type(1) {
  background-image: url(../../media/TeamLegal_screen.png);
  background-size: cover;
  min-width: 364px;
  height: 182px;
  margin: 60px auto;
  display: none;
  text-align: center;
  border-radius: 10px;
}
.teamLegal .right:nth-of-type(2) {
  background-image: url(../../media/TeamLegal_screen.png);
  background-size: cover;
  min-width: 364px;
  height: 182px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
.teamLegal .right .play {
  width: 40px;
  height: 40px;
  margin-top: 75px;
  cursor: pointer;
}
.dock .row {
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .teamLegal .right:nth-of-type(1) {
    display: block;
    width: 182px;
  }
  .teamLegal .right:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 1439px) {

}
