.road-show-block {
    background: linear-gradient(#2c2547, #464087, #62add3);
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    display: none;
}

.wrapper-road {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 103px;
    text-align: center;
}

.road__line {
    top: 14px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.road__circles {
    margin-top: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.road__circle {
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-bottom: 15px;
}

.road-show-block .slick-next, .road-show-block .slick-prev {
    display: none!important;
}

.road__settings {
    width: 100%;
    padding: 0 80px;
}

.road-show-popup {
    position: absolute;
    width: 345px;
    bottom: 140px;
    left: 18.6%;
}

.road-popup-text {
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 250px;
    width: 100%;

}

.road__class {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}

.road__date {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.road-popup-video {
    width: 100%;
    min-height: 171px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
}

.road-popup-triangle {
    width: 0;
    height: 0;
    border-bottom: 40px solid #fff;
    border-right: 40px solid transparent;
    transform: rotate(-45deg);
    position: relative;
    bottom: 21px;
    left: 75px;
}

.road__setting {
    display: block;
}

.road__setting2,
.road__setting3,
.road__setting4,
.road__setting5,
.road__setting6 {
    display: none;
}

@media screen and (max-width: 1023px) {
    .road-show-block {
        padding-top: 40px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1201px) {
    .road__setting {
        display: none;
    }

    .road__setting2 {
        display: block;
    }

    .road-show-popup {
        left: 22.6%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .road__setting {
        display: none;
    }

    .road__setting3 {
        display: block;
    }

    .road-show-popup {
        left: 27.6%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .road__setting {
        display: none;
    }

    .road__setting4 {
        display: block;
        padding: 0 40px;
    }

    .road-show-popup {
        left: 17.6%;
    }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
    .road__setting {
        display: none;
    }

    .road__setting5 {
        display: block;
        padding: 0 40px;
    }

    .road-show-popup {
        left: 17.6%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .road-popup-triangle {
        left: 0;
    }
}

@media screen and (max-width: 450px) {
    .road__setting {
        display: none;
    }

    .road__setting6 {
        display: block;
        padding: 0 20px;
    }

    .road-show-popup {
        width: 90%;
    }

    .road-show-popup {
        left: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .road-popup-triangle {
        left: 0;
    }
}