@font-face {
  font-family: Geometria-Bold;
  src: url('../fonts/Geometria-Bold.otf') format('opentype');
}

/*@font-face {
  font-family: Geometria;
  src: url("../fonts/Geometria.otf") format("opentype");
}*/

/*@font-face {
  font-family: Geometria-Heavy;
  src: url("../fonts/Geometria-Heavy.otf") format("opentype");
}

@font-face {
  font-family: Geometria-Medium;
  src: url("../fonts/Geometria-Medium.otf") format("opentype");
}*/

/*@font-face {
  font-family: Geometria;
  src: url("../fonts/Geometria.otf") format("opentype");
}

@font-face {
  font-family: Geometria-ThinItalic;
  src: url("../fonts/Geometria-ThinItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-Thin;
  src: url("../fonts/Geometria-Thin.otf") format("opentype");
}

@font-face {
  font-family: Geometria-MediumItalic;
  src: url("../fonts/Geometria-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-Medium;
  src: url("../fonts/Geometria-Medium.otf") format("opentype");
}

@font-face {
  font-family: Geometria-LightItalic;
  src: url("../fonts/Geometria-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-Light;
  src: url("../fonts/Geometria-Light.otf") format("opentype");
}

@font-face {
  font-family: Geometria-Italic;
  src: url("../fonts/Geometria-Italic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-HeavyItalic;
  src: url("../fonts/Geometria-HeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-ExtraLightItalic;
  src: url("../fonts/Geometria-ExtraLightItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-ExtraLight;
  src: url("../fonts/Geometria-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: Geometria-ExtraBlackItalic;
  src: url("../fonts/Geometria-ExtraBlackItalic.otf") format("opentype");
}

@font-face {
  font-family: Geometria-ExtaBlack;
  src: url("../fonts/Geometria-ExtaBlack.otf") format("opentype");
}

@font-face {
  font-family: Geometria-BoldItalic;
  src: url("../fonts/Geometria-BoldItalic.otf") format("opentype");
}*/
