@import '../../../node_modules/slick-carousel/slick/slick.css';
@import "../../../node_modules/slick-carousel/slick/slick-theme.css";

.App {
  &__container {
    margin: 0 auto;
    width: 1024px;
    height: 100vh;
    background-color: blue;
  }
}

@media screen and (min-height: 768px) {

}
