.video-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;

  &__video-wrap {
    z-index: 11;
    display: flex;
    flex-direction: column;
    width: 640px;
  }

  &__check {
    width: 26px;
    height: 26px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/export_mountain_v2/x_close.svg);
    cursor: pointer;
    align-self: flex-end;
  }

  &__undercover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__video {
    margin-top: 15px;
    width: 100%;
    height: 360px;
  }
}
