.distribution-screen {
  padding-top: 0vh;
  padding-bottom: 6.85vh;

  &__header {
    font-family: Geometria-Bold;
    font-size: 6.48vh;
    line-height: 1.1;
    color: #fff;
  }

  &__graph {
    margin-top: 5.56vh;
    margin-bottom: 4.63vh;
  }

  &__graphImg{
    height: 26vh;
    margin: 3vh 0;
  }
}
