.join-presale-screen {
  padding-top: 3.6vh;
  padding-bottom: 14.8vh;

  &__title {
    width: 494px;
    font-family: Geometria-Bold;
    font-size: 91px;
    line-height: 1;
    color: #fff;
  }

  &__buttons-wrap {
    margin-top: 7.5vh;

    .button {
      display: inline-flex;
      vertical-align: top;
    }
    .button:first-child {
      margin-right: 40px;
    }
  }
}
