.menu {
  display: flex;
  justify-content: space-between;
  // width: 423px;
  height: 20px;
  align-self: center;
  margin-top: 22px;
  cursor: pointer;

  :hover{
    opacity: .7;
  }

  &__item {
    position: relative;
    margin-left: 27px;
    font-family: Geometria-Light;
    font-size: 15px;
    color: #fff;
    line-height: 1.23;
    &:first-child {
      margin: 0;
    }

    &_underline::after {
    }
  }
}

.menu__item_underline::after {
  content: "";
  margin-top: 10px;
  background-color: #6C5ED6;
  height: 5px;
  width: 26px;
}

.menu__item a {
  color: white;
}