.menu {
  display: flex;
  justify-content: space-between;
  // width: 423px;
  height: 20px;
  align-self: center;
  margin-top: 40px;

  &__item {
    margin-left: 27px;
    font-family: Geometria;
    font-size: 15px;
    color: #fff;
    line-height: 1.23;
    &:first-child {
      margin: 0;
    }

    &_underline {
      border-bottom: 2px solid #6C5ED6;
    }
  }
}
