
.contents{
	position: relative;
	z-index: 3;
}

.containerBlocks{
	width: 80%!important;
  max-width: 1440px;
  min-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
}

.containerContent{
  height: 100vh;
  z-index: 9;
  position: relative;
  padding-top: calc(128px + 5.8vh);
}

.contentScene{
	z-index: 99;
}

.sceneCnt{
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  
  .layot {
    top: 0;
    width: 100%;
  }
}