.rise-of-capital {
  padding-top: 10vh;
  padding-bottom: 2.5vh;

  &__header {
    font-size: 5.74vh;
    font-family: Geometria-Bold;
  }

  &__picture {
    margin-top: 6.67vh;
    width: 603px;
    height: 477px;
  }
}
