.rise-of-capital {
  padding-top: 5vh;
  padding-bottom: 2.5vh;

  &__header {
    color: white;
    .title1{
      font-family: Geometria-Bold;
      font-size: 5.74vh;
    }
    .title2{
      font-size: 3vh;
      margin-left: 50px;
      font-family: Geometria-Light;
    }
  }

  &__picture {
    margin-top: 6.67vh;
    height: 42vh;
  }
}
