.laptop-screen {
  padding-top: 6.1vh;
  padding-bottom: 8.3vh;

  &__header {
    font-family: Geometria-Bold;
    font-size: 6.48vh;
    color: #fff;
    line-height: 1;
  }

  &__laptop {
    margin-right: 60px;
    width: 305px;
    height: 178px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/export_mountain_v2/laptop.svg);
  }

  &__content-wrap {
    display: flex;
    margin-top: 10.8vh;
  }

  &__content {
    width: 283px;
  }

  &__title {
    font-family: Geometria-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.1;
  }

  &__button-wrap {
    margin-top: 10vh;
  }

  &__description {
    margin-top: 3.42vh;
    font-family: Geometria-ExtraLight;
    font-size: 17px;
    color: #fff;
    line-height: 1;
  }
}
