@font-face {
  font-family: 'Geometria-Light';
  src: url('../assets/fonts/Geometria-Light.otf');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../assets/fonts/Geometria-Bold.otf');
}

@font-face {
  font-family: 'Geometria';
  src: url('../assets/fonts/Geometria.otf');
}

@font-face {
  font-family: 'Geometria-ExtraLight';
  src: url('../assets/fonts/Geometria-ExtraLight.otf');
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('../assets/fonts/Geometria-Heavy.otf');
}
