.block_5 {
  padding: 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  background: linear-gradient(180deg, #272043 0%, #3D709C 100%);
}

.block_5:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/static/media/block_4_img_bg_1.df985ede.png) no-repeat;
  background-size: 600px;
  background-position: right -250px bottom -50px;
  pointer-events: none;
}

.block_5 * {
  color: white;
}

.block_5:after {
  content: '';
  position: absolute;
  top: 416px;
  width: 90%;
  left: 5%;
  height: 1px;
  background: #fff;
}

.block_5 .slick-list {
  height: 350px;
}

.block_5 .cont_item {
  width: 105px;
  height: 314px;
  position: relative;
}

.block_5 .one:before {
  display: block;
  content: '';
  width: 1px;
  height: 65px;
  background: #fff;
  position: absolute;
  left: 45px;
  bottom: 55px;
}

.block_5 .all:before {
  display: block;
  content: '';
  width: 3px;
  height: 65px;
  background: #fff;
  position: absolute;
  left: 45px;
  bottom: 55px;
}

.block_5 .cont_item .numb {
  display: block;
  position: absolute;
  bottom: 0;
  left: 30px;
  font-weight: bold;
  font-size: 18px;
}

.block_5 .cont_item p {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  display: block;
  bottom: 135px;
  line-height: 18px;
  width: 100%;
  word-wrap: break-word;
}

.block_5 .cont_item img {
  width: auto;
  display: block;
  position: absolute;
  left: 40px;
  top: 0px;
}

.block_5 .owl-carousel .owl-nav .owl-next {
  display: block;
  position: absolute;
  padding: 0;
  background: url(../../images/arrow_small_right.png);
  top: -45px;
  right: 60px;
  width: 17px;
  height: 31px;
}

.block_5 .owl-carousel .owl-nav .owl-prev {
  display: block;
  position: absolute;
  padding: 0;
  background: url(../../images/arrow_small_left.png);
  top: -45px;
  right: 120px;
  width: 17px;
  height: 31px;
}

.block_5 .slick-prev:before,
.block_5 .slick-next:before {
  font-size: 0px;
  display: block;
  position: relative;
  padding: 0;
  background: url(../../images/arrow_big_left.png);
  width: 21px;
  height: 100%;
  background-size: cover;
}

.block_5 .slick-next:before {
  font-size: 0px;
  display: block;
  position: relative;
  padding: 0;
  background: url(../../images/arrow_big_right.png);
  width: 20px;
  height: 100%;
  background-size: cover;
}

.block_5 .slick-slider {
  position: static;
}

.block_5 .slick-next, 
.block_5 .slick-prev {
  left: 100%;
  right: 0;
  top: 0;
  height: 38px;
  margin-top: -98px;
}

.block_5 .slick-next {
  margin-left: -100px;
}

.block_5 .slick-prev {
  margin-left: -150px;
}

.block_5 .settings2 {
  display: none;
}
.block_5 .container {
  margin-top: 70px;
}

.block_5 .slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 1439px){
  .block_5:after {
    content: '';
    width: 86%;
    left: 7%;
  }
}

@media (max-width: 1023px){
  .block_5:after {
    content: '';
    position: absolute;
    top: 412px;
    height: 1px;
    background: #fff;
  }
  .block_5 .settings .slick-prev:before {
    left: 530px;
  }
  .block_5 .settings .slick-next:before {
    right: 100%;
    top: -265px;
  }
}
