.team-screen {

  &__title, &__header {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
  }

  &__header {
    font-size: 49px;
    font-family: Geometria-Bold;
    margin-right: 90px;
    line-height: 1;
  }

  &__title {
    width: 640px;
    font-size: 15px;
    font-family: Geometria-Light;
  }

  &__slider-wrap {
    margin: 50px auto 0 auto;
    width: 86%;

    .slick-slider {
      position: relative;
    }

    .slick-next, .slick-prev {
      position: absolute;
      color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      width: 20px;
      height: 40px;
    }

    .slick-next {
      top: 50%;
      right: -100px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(../assets/export_mountain_v2/arrow_right.svg);
    }

    .slick-prev {
      top: 50%;
      left: -100px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(../assets/export_mountain_v2/arrow_left.svg);
    }

    .slick-track{
      height: 420px;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-slide {
      display: inline-block;
    }

  }
}
