.our-top-ratings {
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.our-top-ratings__header_blocks {
    font-family: Geometria !important;
    font-size: 32px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 40px !important;
    padding-top: 50px !important;
    display: inline-block !important;
}

.our-top-ratings__ratings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 38px;
}

.our-top-ratings__href-rating-icon {
    display: block;
    padding-right: 21px;
    margin-bottom: 23px;
}

.our-top-ratings__href-rating-icon:last-of-type {
    margin-right: 0px;
}
  
.our-top-ratings__rating-icon {
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 170px;
    height: 108px;
}

.our-top-ratings__wrapper-ratings {
    display: flex;
    justify-content: center;
}

.our-top-ratings__wrapper-block {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

@media screen and (max-width: 1439px) {
    .our-top-ratings__ratings {
        width: 74%;
    }
}

@media screen and (max-width: 1023px) {
    .our-top-ratings {
        display: none;
    }
}