<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>Cindx #01</title>
</head>
<body>
  <div class="app flex">
    <!-- Header begin -->
    <div class="container">
      <div class="header">
        <div class="flex">
          <h1>Timeline</h1>
          <div class="buttons flex">
            <button>$6m Scenario</button>
            <button>$15m Scenario</button>
            <button>$30m Scenario</button>
          </div>
        </div>
        <h3>$6m Scenario</h3>
      </div>
    </div>
    <!-- Header end -->
      
    <!-- Timeline begin -->
    <div class="timeline">
      <div class="container flex">

        <div class="timeline-item first ignore-delimiter flex">
          <div class="quarter"></div>
          <div class="year"></div>
          <div class="description">Development Roadmap</div>
        </div>

        <div class="timeline-item circle flex">
          <div class="quarter">Q1</div>
          <div class="year">2018</div>
          <div class="description">Разработка: архитектура системы, Техническое задание и описание всех модулей</div>
        </div>

        <div class="timeline-item flex">
          <div class="quarter">Q2</div>
          <div class="year"></div>
          <div class="description">Разработка: UX / UI интерфейсы, Веб-платформа, Агрегатор котировок, KYC/AML модуль, Тестовая Интеграция с биржами. Закрытое альфа тестирование</div>
        </div>

        <div class="timeline-item flex">
          <div class="titles">
            <div class="item">CINDx.Without Verge</div>
          </div>
          <div class="quarter">Q3</div>
          <div class="year"></div>
          <div class="description">"Релиз  CINDx "without verge" Публичная пре-альфа версия.</div>
        </div>

        <div class="timeline-item flex margin">
          <div class="titles">
            <div class="item ignore-margin-right">"CINDx.trade alfa</div>
            <div class="item ignore-margin-right">CINDx.market alfa</div>
          </div>
          <div class="quarter">Q4</div>
          <div class="year"></div>
          <div class="description">"Разработка: архитектура системы, Техническое задание и описание всех модулей</div>
        </div>

        <div class="timeline-item ignore-delimiter flex">
          <div class="titles">
            <div class="item ignore-margin-left">CINDx.talk alfa</div>
            <div class="item ignore-margin-left">CINDx.market alfa</div>
            <div class="item ignore-margin-left">"CINDx.trade beta</div>
          </div>
          <div class="quarter">Q1</div>
          <div class="year">2019</div>
          <div class="description">Разработка: Релиз CINDx Beta</div>
        </div>

        <div class="timeline-item flex">
          <div class="quarter">Q2</div>
          <div class="year"></div>
          <div class="description"></div>
        </div>

        <div class="timeline-item flex">
          <div class="titles">
            <div class="item">CINDx.talk alfa</div>
            <div class="item">CINDx.market alfa</div>
            <div class="item">"CINDx.trade beta</div>
          </div>
          <div class="quarter">Q3</div>
          <div class="year"></div>
          <div class="description">Разработка: Релиз CINDx delta</div>
        </div>

        <div class="timeline-item flex">
          <div class="quarter">Q4</div>
          <div class="year"></div>
          <div class="description">Разработка: архитектура системы, Техническое задание и описание всех модулей</div>
        </div>
      
      </div>
    </div>
    <!-- Timeline end -->
  </div>
</body>
</html>