.block_7
{
  padding: 70px 0;
  background: #6c5ed6;
}

/*MEDIA*/

.block_7 .media h2 {
  padding-bottom: 35px;
  margin-bottom: 35px;
  font-size: 40px;
}

.block_7 .media .slick-prev:before {
  font-size: 0px;
  display: block;
  position: absolute;
  padding: 0;
  background: url(../../images/arrow_big_left.png);
  top: -60px;
  margin-top: 0px;
  left: -60px;
  width: 60px;
  height: 115px;
}

.block_7 .media .slick-next:before {
  font-size: 0px;
  display: block;
  position: absolute;
  padding: 0;
  background: url(../../images/arrow_big_right.png);
  top: -60px;
  margin-top: 0px;
  right: -60px;
  width: 60px;
  height: 115px;
}

.block_7 .media .txt {
  font-size: 16px;
  width: 340px;
  height: 290px;
  color: black;
}

.block_7 .media .txt .bg {
  padding: 20px;
  background: #FFFFFF;
  margin: 0 10px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.block_7 .media .txt h3
{
  font-size: 18px;
  font-weight: 500;
}

.block_7 .media .txt p
{
  color: #888e9c;
  font-size: 16px;
  padding: 5px 0;
}

.block_7 .media .txt a
{
  color: #6c5ed6;
  text-decoration: none;
}

.block_7 hr {
  display: block;
  margin: 50px 0;
  padding: 0;
  border: 0;
  width: auto;
  height: 1px;
  background: #fff;
}

/*NEWS*/

.block_7 .news h2 {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 40px;
}

.block_7 .news .slick-prev:before {
    font-size: 0px;
    display: block;
    position: absolute;
    padding: 0;
    background: url(../../images/arrow_big_left.png);
    top: -60px;
    margin-top: 0px;
    left: -60px;
    width: 60px;
    height: 115px;
}

.block_7 .news .slick-next:before {
    font-size: 0px;
    display: block;
    position: absolute;
    padding: 0;
    background: url(../../images/arrow_big_right.png);
    top: -60px;
    margin-top: 0px;
    right: -60px;
    width: 60px;
    height: 115px;
}


.block_7 .news .txt {
  width: 340px;
  height: 400px;
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.block_7 .news .img {
  width: 340px;
}

.block_7 .news .txt .content {
  padding: 20px;
}

.block_7 .news .txt h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.block_7 .news .txt p {
  font-size: 16px;
  color: #888e9c;
}

.block_7 .news .txt a {
  color: #6c5ed6;
  text-decoration: none;
  font-size: 16px;
}
