.doc__icon,
.footer__button,
.header__logo {
  background-size: 100%;
  background-repeat: no-repeat;
}
.doc__icon,
.footer__button,
.footer__social,
.header__logo {
  background-repeat: no-repeat;
}
.App__container {
  margin: 0 auto;
  width: 1024px;
  height: 100vh;
  background-color: #00f;
}
.doc .doc__icon,
.doc .doc__title {
  display: inline-block;
  vertical-align: center;
}
.doc__icon {
  width: 12px;
  height: 10px;
  border: 1px solid #fff;
}
.doc__title {
  margin-left: 10px;
  font-family: Geometria;
  font-size: 13px;
  color: #fff;
  text-decoration: underline;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #fff;
}
.footer,
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
}
.button__title {
  font-family: Geometria-Bold;
  font-size: 10px;
  color: #fff;
}
.button_filled {
  border: none;
  background-image: -webkit-linear-gradient(135deg, #6c5ed6, #f287b7);
  background-image: -o-linear-gradient(135deg, #6c5ed6, #f287b7);
  background-image: linear-gradient(315deg, #6c5ed6, #f287b7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 20px;
}
.footer {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__button {
  width: 50px;
  height: 50px;
  background-image: url(../assets/export_mountain_v2/arrow_down.svg);
}
.footer__social-media {
  display: flex;
  height: 16px;
  -ms-flex-item-align: center;
  align-self: center;
}
.header,
.header__promo-info {
  display: -webkit-box;
  display: -ms-flexbox;
}
.header,
.menu {
  -webkit-box-pack: justify;
}
.footer__social {
  background-position-y: 50%;
  margin-right: 25px;
  width: 16px;
  height: 16px;
}
.footer__social_facebook {
  margin-right: 0;
  background-image: url(../assets/export_mountain_v2/Facebook_icon.svg);
}
.footer__social_twitter {
  background-image: url(../assets/export_mountain_v2/Twitter_icon.svg);
}
.footer__social_tumblr {
  background-image: url(../assets/export_mountain_v2/Tumblr_icon.svg);
}
.footer__social_linked-in {
  background-image: url(../assets/export_mountain_v2/LinkedIN__icon.svg);
}
.header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 148px;
}
.header__promo-info {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.header .header__logo-wrap,
.header .header__promo-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__logo-wrap {
  padding-right: 45px;
  padding-bottom: 18px;
  width: 160px;
  height: 100%;
  border-right: 1px solid #fff;
}
.header__promo-title-wrap {
  padding-left: 45px;
  padding-bottom: 14px;
  width: 200px;
}
.header__logo {
  height: 40px;
  width: 115px;
  background-image: url(../assets/export_mountain_v2/logo_white.svg);
}
.header__promo-title {
  width: 134px;
  font-family: Geometria;
  font-size: 16px;
  color: #fff;
  line-height: 1;
}
.header__security {
  font-size: 14px;
  opacity: 0.5;
  line-height: 1.2;
}
.time-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.menu,
.time-circle__circle {
  display: -webkit-box;
  display: -ms-flexbox;
}
.time-circle__circle {
  display: flex;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Geometria-Bold;
  font-size: 15px;
  line-height: 1.2;
}
.time-circle__title {
  margin-top: 20px;
  font-family: Geometria-Light;
  font-size: 11px;
  line-height: 1.2;
}
.screen {
  height: 100%;
}
.menu {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 20px;
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 40px;
}
.scene,
.timer {
  display: -webkit-box;
  display: -ms-flexbox;
}
.menu__item {
  margin-left: 27px;
  font-family: Geometria;
  font-size: 15px;
  color: #fff;
  line-height: 1.23;
}
.menu__item:first-child {
  margin: 0;
}
.menu__item_underline {
  border-bottom: 2px solid #6c5ed6;
}
.timer {
  display: flex;
}
.timer__circle {
  margin-left: 22px;
}
.timer__circle:first-child {
  margin: 0;
}
@font-face {
  font-family: Geometria-Light;
  src: url(../assets/fonts/Geometria-Light.otf);
}
@font-face {
  font-family: Geometria-Bold;
  src: url(../assets/fonts/Geometria-Bold.otf);
}
@font-face {
  font-family: Geometria;
  src: url(../assets/fonts/Geometria.otf);
}
.containerContent {
  width: 1324px !important;
  background: rgba(249, 25, 25, 0.7);
  margin: 0 auto;
  height: 100vh;
  z-index: 9;
  position: relative;
  opacity: 0.1;
}
.scene {
  display: flex;
  position: relative;
  border: 2px solid red;
}
.scene .layot {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  border: 4px solid green;
  overflow: hidden;
}
.bgMountains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bgMountains .bgMountains-img {
  position: absolute;
  bottom: 0;
  left: 20%;
}
.filterBg,
.funicular {
  position: absolute;
  left: 0;
}
.funicular {
  bottom: 0;
}
.filterBg {
  top: 0;
  width: 100%;
  height: 7000px;
  background-image: url(http://uploads.webflow.com/5b043f8fe114c89242e2de0f/5b05238fabbf26c7e7a31cdb_stars_mount.svg),
    -webkit-gradient(linear, left top, left bottom, from(#4e217b), color-stop(23%, #7dabbf), to(#7dabbf));
  background-image: url(http://uploads.webflow.com/5b043f8fe114c89242e2de0f/5b05238fabbf26c7e7a31cdb_stars_mount.svg),
    -webkit-linear-gradient(top, #4e217b, #7dabbf 23%, #7dabbf);
  background-image: url(http://uploads.webflow.com/5b043f8fe114c89242e2de0f/5b05238fabbf26c7e7a31cdb_stars_mount.svg),
    -o-linear-gradient(top, #4e217b, #7dabbf 23%, #7dabbf);
  background-image: url(http://uploads.webflow.com/5b043f8fe114c89242e2de0f/5b05238fabbf26c7e7a31cdb_stars_mount.svg),
    linear-gradient(180deg, #4e217b, #7dabbf 23%, #7dabbf);
  background-position: 50% 0, 0 0;
  background-size: 60%, auto;
  background-repeat: repeat-x, repeat;
}
.head-screen__buttons {
  margin-top: 7.6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 535px;
}
.head-screen__header {
  margin-top: 5.8vh;
  width: 500px;
  font-family: Geometria-Bold;
  font-size: 45px;
  line-height: 1.1;
  color: #fff;
}
.head-screen__pre-sale-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.8vh;
}
.head-screen__list {
  width: 300px;
  color: #fff;
}
.head-screen__list-item {
  font-size: 15px;
  margin-top: 18px;
}
.head-screen__list-item:first-child {
  margin-top: 0;
}
.head-screen__list-wrap {
  padding-right: 30px;
  border-right: 1px solid #fff;
}
.head-screen__timer-wrap {
  padding-left: 47px;
}
.head-screen__timer-title {
  margin-bottom: 25px;
  color: #fff;
  font-size: Geometria-Bold;
  font-size: 15px;
  line-height: 1.2;
}
.head-screen__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.4vh;
  margin-bottom: 5.5vh;
}
.head-screen__doc-wrap {
  margin-left: 35px;
}
.head-screen__doc-wrap:first-child {
  margin: 0;
}
