
.messages-prlx{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: #868EC6;
  color: #fff;
  font-size: 17px;
  border-radius: 44px;
  padding: 20px 40px 30px;
  width: 400px;
  font-family: Geometria-ExtraLight;
  line-height: 21px;

  transform: translateX(calc(400%));

  &::after{
  	content: '';
  	position: absolute;
  	right: 30px;
  	bottom: -30px;

  	border: 30px solid transparent;	border-right: 30px solid #868EC6;
  }
}

.messageSpan{
  p{
    margin-bottom: 0;
  }
}