.progressBarSale {
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
.progressBarSale .container {
  width: 900px;
  margin: 0px auto;
  position: relative;
}
.progressBarSale .left-block-bonuses {
  display: inline-block;
  position: absolute;
  left: -105px;
  top: 21px;
  text-align: right;
}
.progressBarSale .tr-left-block-bonuses {
  left: -150px;
}
.progressBarSale .container .saleName {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}
.progressBarSale .container .saleName p {
  margin: 0;
}
.progressBarSale .container .cinx {

  font-weight: 500;
}
.progressBarSale .container .sale-bonusses {
  padding-right: 350px;
}
.progressBarSale .progressBar {
  width: 900px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
}
.progressBarSale .progressBar .progress {
  height: 34px;
  /* border-radius: 17px; */
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  background-color: rgba(255, 255, 255, 0.1);
}
.progressBarSale .container .progress-data {
  display: flex;
  justify-content: space-between;
}
.progressBarSale .container .progress-data .data {
  text-align: center;
  margin-top: 5px;
}
.progressBarSale .container .progress-data .data p {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}
.progressBarSale .container .progress-data .data .amount {
  font-size: 14px;
  font-weight: 300;
}
.container__dock-block {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container__dock-block .download_public_doc {
  color: #fff;
  font-size: 24px;
  margin-left: 30px;
  margin-bottom: 12px;
}

.wrapper__doc {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 21px 0;
}

.container__row {
  display: flex;
  justify-content: center;
}

.container__row .row {
  display: flex;
  align-items: flex-start;
  margin: 0 12px;
  cursor: pointer;
}

.container__dock-block .row:first-of-type {
  margin-left: 32px;
}

.container__dock-block .row:last-of-type {
  margin-right: 32px;
}

.row_span_a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  margin-left: 9px;
}

@media screen and (min-width: 1024px) and (max-width: 1110px) {
  .progressBarSale .tr-left-block-bonuses {
    left: -150px;
    width: 119px;
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .progressBarSale {
    display: none;
  }
}


