/*** Base ***/
body {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2e1d68),
    to(#8d2d5e)
  );
  background: -webkit-linear-gradient(top, #2e1d68, #8d2d5e);
  background: -o-linear-gradient(top, #2e1d68, #8d2d5e);
  background: linear-gradient(180deg, #2e1d68, #8d2d5e);
  background-attachment: fixed;
  color: white;
}

.app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*** Header ***/
.header > div.flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header > div.flex h1 {
  font: 48px Geometria-Bold;
}

.header > div.flex .buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header > h3 {
  text-transform: uppercase;
  font: 19px Geometria-Bold;
  margin: 0;
}

.header > div.flex .buttons button {
  border: 1px solid white;
  background: none;
  outline: none;
  border-radius: 33px;
  padding: 16px 36.5px;
  margin-left: 15px;
  color: white;
  text-transform: uppercase;
  font: 11.2px Geometria-Bold;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.header > div.flex .buttons button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6c5ed6),
    to(#f287b7)
  );
  background: -webkit-linear-gradient(left, #6c5ed6, #f287b7);
  background: -o-linear-gradient(left, #6c5ed6, #f287b7);
  background: linear-gradient(90deg, #6c5ed6, #f287b7);
  border-color: transparent;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

/*** Timeline ***/
.timeline {
  margin-top: 50px;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  height: 1px;
  bottom: 225px;
}

.timeline .container {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.timeline-item {
  width: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.timeline-item.margin {
  margin-right: 10px;
}

.timeline-item .titles {
  margin-bottom: 30px;
}

.timeline-item .titles .item {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  font: 11px Geometria;
  margin: 4px;
  min-height: 48px;
}

.timeline-item .titles .item.ignore-margin-right {
  margin-right: 0;
}

.timeline-item .titles .item.ignore-margin-left {
  margin-left: 0;
}

.timeline-item .quarter {
  height: 50px;
  font: 19px Geometria-Medium;
}

.timeline-item .year {
  font: 19px Geometria;
  background: rgba(255, 255, 255, 0.2);
  min-height: 45px;
  text-indent: 12px;
  line-height: 45px;
  position: relative;
}

.timeline-item .year::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  background: white;
  bottom: 0;
  height: 110%;
}

.timeline-item.circle .year::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  top: -5px;
  left: -4px;
}

.ignore-delimiter .year::before {
  content: none;
}

.timeline-item:nth-of-type(2) .year:before {
  height: 140%;
}

.timeline-item .description {
  font: 11px Geometria;
  margin-top: 10px;
  min-height: 170px;
  padding-right: 5px;
}

.timeline-item.first {
  width: 140px;
}

.timeline-item.first .year {
  background: none;
}

.timeline-item.first .description {
  font: 12px Geometria-Heavy;
}
