/*** Base ***/
body {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2e1d68),
    to(#8d2d5e)
  );
  background: -webkit-linear-gradient(top, #2e1d68, #8d2d5e);
  background: -o-linear-gradient(top, #2e1d68, #8d2d5e);
  background: linear-gradient(180deg, #2e1d68, #8d2d5e);
  background-attachment: fixed;
  color: white;
}

.app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*** Right side ***/
.right-side {
  position: absolute;
  width: 850px;
  height: 500px;
  right: -80px;
  top: 50%;
  margin-top: -170px;
  z-index: -1;
  background: url(../assets/export_mountain_v2/map.svg) no-repeat;
}

.right-side .tooltip {
  position: absolute;
  padding: 10px 25px;
  background: rgba(3, 36, 56, 0.6);
}

.right-side .tooltip span:first-child {
  font: 12px Geometria;
}

.right-side .tooltip span:last-child {
  font: 12px Geometria-Bold;
}

.right-side .tooltip:nth-of-type(1) {
  left: 240px;
  top: 200px;
}

/*** Left side ***/
.left-side {
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 450px;
  margin: auto 0;
}

.left-side h1 {
  font: 83px Geometria-Bold;
  line-height: 80px;
  margin: 0;
}

.left-side nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.left-side nav a {
  color: white;
  margin: 5px 0;
  font: 19px Geometria;
}
