html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  overflow: hidden;
}

button:disabled {
  opacity: 0.5;
}

#root {
  /*width: 1200px;
	margin: 0 auto;*/
}
