.cryptoAssetsManagement {
  background-image: linear-gradient(to top, #626f96, #2e164e);
  padding: 0;
  color: white;
  background: none;
}
.cryptoAssetsManagement .row {
  margin-bottom: 110px;
}
.cryptoAssetsManagement .header_blocks {
  width: 50%;
}
.cryptoAssetsManagement .video {
  margin-left: 15%;
}
.cryptoAssetsManagement .video {
  width: 30%;
  height: 140px;
  background-color: red;
  margin-top: 80px;
  display: inline-block;
  max-width: 300px;
}
.cryptoAssetsManagement .txt {
  width: 40%;
  margin-right: 10%;
}
.cryptoAssetsManagement .txt2 {
  width: 40%;
}
.cryptoAssetsManagement .txt2 {
  margin-left: 10%;
}
.cryptoAssetsManagement .problemBlock .txt .caption,
.cryptoAssetsManagement .problemBlock .txt2 .caption{
  font-size: 24px;
}
.cryptoAssetsManagement .problemBlock .txt  hr,
.cryptoAssetsManagement .problemBlock .txt2 hr  {
  width: 100%;
  margin: 40px 0;
}
.cryptoAssetsManagement .problemBlock .txt  p,
.cryptoAssetsManagement .problemBlock .txt2 p {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: normal;
}
.cryptoAssetsManagement .problemBlock .video_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 50px;
}
.cryptoAssetsManagement .problemBlock .video_block .img {
  width: 100%;
  height: 200px;
  max-width: 330px;
  background-color: black;
}
.problemBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.problemBlock button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to top, #6e5fd6, #f086b8);
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  line-height: 40px;
}
.problemBlock button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1023px) { 
  .cryptoAssetsManagement .header_blocks {
    width: 90%;
    display: block;
  }
  .cryptoAssetsManagement .video {
    display: block;
    margin: 70px auto;    
  }
}
