*{
  margin: 0;
  padding: 0;
}

@font-face {
font-family: "Geometria-Bold"; 
src: url("fonts/Geometria-Bold.otf") 
}

.thank-you-page-block {
  background-image: linear-gradient(to right, #6c5ed6, #f287b7);
  padding: 200px 345px 270px;
}
.thank-you-page-block__img {
  width: 117px;
  height: 40px;
  margin-bottom: 96px;
}
.thank-you-page-block__caption {
  font-family: Geometria-Bold;
  font-size: 68px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 20px;
}
.thank-you-page-block__info {
  width: 720px;
  font-family: Geometria-Bold;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 60px;
}
 